@import 'media-queries';
@import 'style';


#home-section{
	position: relative;
	height: 100%;
	background-image: url('../images/home/rua-oscar-freire-sao-paulo.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    & > img{
    	display: none;
    }
	#novidade-breve{
		#text-content{
		    height: 118px;
		    width: 100%;
		    text-align: center;
		    vertical-align: middle;
		    margin-top: 60px;
		    padding-left: 90px;
		    padding-top: 5px;
		    background-color: rgba(0,0,0,0.75);
		    #text-aligner{
		    	display: inline-block;
			    text-align: left;
			    margin-left: -570px;
		    }
		    @media (max-width : 940px) {
		        padding-top: 1px;
		    }
		    @include mobile-only {
    			height: 108px;
    			margin-top: 10px; 
    			text-align: center;
    			#text-aligner{
				    width: 310px;
				    margin-left: -80px;
    			}
		        h1{
		        	font-size: 20px; 
		        }
		        p{
		        	font-size: 15px;
		        }
		    }
		}
		h2{
			color: $color_primary;
			font-size: 23.82px;
			margin-bottom: 10px;
			margin-top: 10px;
		}
		p{
			color: #fff;
			font-size: 16.78px;
			line-height: 1.5;
    		margin-top: -8px;
    		padding-left: 1px;
		}
	}
	#model-container{	    
	    background-image: url("../images/home/ingrid-guimaraes-banheiros-espetaculares-neve.png");
	    background-size: contain;
	    background-repeat: no-repeat;
	    background-position: 100% 100%;
	    height: 100%;
	    width: 55%;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    img{
	    	display: none;
	    }
	    @include mobile-only{
	    	background-position: 50% 100%;
	    	width: 99%;
	    	height: 40%;
	    }
	}
	#neve-play{
		text-align: center;
		padding-top: 85px;
		#neve-play-button{
			width: 460px;
			margin-top: -40px;
			margin-left: -30px;
		}
		@include mobile-only{
			/*padding-top: 95px;*/
			
			font-size: 0.5em;
			text-align: right;
			padding-right: 30px;
			
			text-align: center;
			a{
			}
			#neve-play-button{
				width: 260px;
    			position: relative;
    			left: 135px;
    			top: 15px;
			}
			.icon-radio-checked2{
				top: -3px !important;
			}
		}
		/*@media (max-width : 680px) {
			font-size: 0.6em;
	    }
	    @media (max-width : 630px){
		    padding-top: 30px;
		    text-align: right;
		    padding-right: 10px;
	    }
	    @media (max-width : 630px) and (max-height : 370px){
	    	font-size: 0.5em;
		    padding-top: 230px;
	    }*/
		span{
			font-size: 9.3em;
			cursor: pointer;
			z-index: 150;
			position: relative; 
		}
		.icon-radio-checked2{
			color: transparent;
			color: rgba(255, 255, 255, 0.2);
			position: absolute;
			top: -6px;
		}
		.icon-play2{
			color: rgb(255, 255, 255);
			color: rgba(255, 255, 255, 1);
		}
	}
	#circle-shadow{
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		img{
			width: 100%;
			height: 100%;
		}
	}
}


