#home-section{
	background-image: none !important;
	#street-fallback{
    	position: fixed;
    	height: 100%;
    	width: 100%;
    	display: block;
    }
}

#model-container{	
	background-image: none !important;
	#model-fallback{
		width: 100%;
		max-height: 100%;
	    position: absolute;
	    bottom: 0;
	    right: 0;
	    display: block !important;
	}
}