@import 'media-queries';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 555px;
}

/******************************
            UTILS
******************************/

$color_primary: #b99742;

.equidistant{
    text-align: justify;
    font-size: 0.1px;
    &:after{
        content: "";
        width: 100%;
        display: inline-block;
    }
    .equidistant-item{
        display: inline-block;
        text-align: left;
    }
    *{
        font-size: 14px;
    }
}

.cut-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}



/******************************
            HEADER
******************************/

.logo-container{
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 150;
}

#top-header{
    z-index: 100;
    height: 35px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(4,4,4,0.5);
    .social-container{
        text-align: right;
        padding-right: 20px;
        a{
            margin-left: 15px;
        }
        .fa{
            color: $color_primary;
            cursor: pointer;
        }
    }
}