@import 'media-queries';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    min-height: 555px;
    @include mobile-only {
        min-height: 320px;
    }
}

*{
    text-decoration: none;
}


/******************************
            UTILS
******************************/

$color_primary: #b99742;

.equidistant{
    text-align: justify;
    font-size: 0.1px;
    &:after{
        content: "";
        width: 100%;
        display: inline-block;
    }
    .equidistant-item{
        display: inline-block;
        text-align: left;
    }
    *{
        font-size: 14px;
    }
}

.absolute-middle{ 
    display: table;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .middle-container{
        display: table-cell;
        vertical-align: middle;
    }
}

.cut-text{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}


@font-face {
    font-family: primary-font;
    src: url(../font/SinkinSans-300Light.otf);
}

.neve-font{
    font-family: primary-font;
}

/******************************
            HEADER
******************************/

.logo-container{
    position: absolute;
    top: 15px;
    left: 20px;
    z-index: 214748348;
    height: 40%;
    width:15%;
    background-image: url("../images/banheiro_logo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 0%;
    background-position-y: 0%;
    @include mobile-only {
        width: 100%;
        height: 40%;
        background-position-x: center;
        left: 10px;
    }
}

#top-header{
    z-index: 100;
    height: 35px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(4,4,4);
    background-color: rgba(4,4,4,0.9);
    height: 50px;
    @include mobile-only {
        height: 50px;
        .social-container{
            font-size: 25px;
        }
        a{
            margin-left: 35px; 
        }
    }
    .social-container{
        font-size: 25px;
        a{
            margin-left: 20px;
        }
        text-align: right;
        padding-right: 20px;
        padding-top: 8px;  
        .icon-facebook, .icon-twitter{
            color: $color_primary;
            cursor: pointer;
        }
    }
}








*:focus{
    outline: none;
}