@@include('../partials/_head.html')

<section id="home-section" >

	<img src="images/rua-oscar-freire-sao-paulo.png" alt="Rua Oscar Freire, São Paulo" id="street-fallback" />

	<div>
		<div id="novidade-breve" class="absolute-middle" >
			<div id="novidade-container" class="neve-font middle-container" >
				<div id="text-content" >
					<div id="text-aligner">
						<h1>VEM NOVIDADE POR AÍ</h1>
						<p>VOLTE AQUI EM BREVE<br>PARA DESCOBRIR.</p>
					</div>
				</div>
			</div>
		</div>
		<div id="model-container" > 
			<img src="images/home/ingrid-guimaraes-banheiros-espetaculares-neve.png" alt="Ingrid Guimarães - Banheiros Espetaculares Neve" id="model-fallback" />
		</div>
 
		<div class="absolute-middle" >
			<div class="middle-container" id="neve-play" >
				<a data-modal-title=" " data-modal-mobile-viewport-width="s" href="https://www.youtube.com/embed/XhVV5lUtlbc?autoplay=1&wmode=opaque&rel=0">
					<span class="fa-stack fa-lg">
					  <i class="icon-radio-checked2"></i>
					  <i class="icon-play2"></i>
					</span>
				</a>
			</div> 
		</div>
	</div> 
	<div id="circle-shadow" >
		<img src="images/home/circle_shadow.png" id="circle-shadow" />
	</div>
</section>


@@include('../partials/_footer.html')