@@include('../partials/_head.html')

<section id="home-section" >
	<!--[if lt IE 9]>
		<img src="images/home/rua.png" id="street-fallback" />
	<![endif]-->
	<div>
		<div id="novidade-breve" class="absolute-middle" >
			<div id="novidade-container" class="neve-font middle-container" >
				<div id="text-content" >
					<h1>VEM NOVIDADE POR AÍ</h1>
					<p>VOLTE AQUI EM BREVE<br>PARA DESCOBRIR.</p>
				</div>
			</div>
		</div>
		<div id="model-container" >
			<!--[if lt IE 9]>
				<img src="images/home/modelo_1.png" id="model-fallback" />
			<![endif]-->
		</div>

		<div class="absolute-middle" >
			<div class="middle-container" id="neve-play" >
				<a class="youtube-media" href="http://www.youtube.com/embed/XhVV5lUtlbc?autoplay=1&wmode=opaque&fs=1">
					<span class="fa-stack fa-lg">
					  <i class="fa fa-circle fa-stack-2x"></i>
					  <i class="fa fa-play-circle-o fa-stack-2x"></i>
					</span>
				</a>
			</div>
		</div>
	</div>
	<div id="circle-shadow" >
		<img src="images/home/circle_shadow.png" id="circle-shadow" />
	</div>
</section>


@@include('../partials/_footer.html')