/* line 6, stdin */
#neve-page-busca > header {
  border: 1px solid black;
  height: 130px; }

/* line 11, stdin */
#neve-page-busca #neve-busca-resultado {
  padding-top: 20px; }
  /* line 13, stdin */
  #neve-page-busca #neve-busca-resultado .search-field {
    height: 40px;
    border-radius: 5px;
    width: 100%; }
  /* line 18, stdin */
  #neve-page-busca #neve-busca-resultado > button, #neve-page-busca #neve-busca-resultado input[type=submit] {
    height: 40px; }
  /* line 21, stdin */
  #neve-page-busca #neve-busca-resultado > button {
    display: block;
    width: 70px; }
  /* line 25, stdin */
  #neve-page-busca #neve-busca-resultado input[type=submit] {
    width: 90px; }

/* line 30, stdin */
#neve-page-busca form > div, #neve-page-busca #space-from-search {
  display: inline-block;
  width: 100%;
  margin-right: -140px;
  padding-right: 140px;
  vertical-align: middle; }

/* line 38, stdin */
#neve-page-busca .neve-busca-result-list {
  padding: 0;
  margin-top: 20px; }
  /* line 41, stdin */
  #neve-page-busca .neve-busca-result-list li {
    padding: 0 0 10px 0;
    display: block;
    color: blue; }
    /* line 45, stdin */
    #neve-page-busca .neve-busca-result-list li .image-container {
      display: inline-block;
      width: 115px; }
      /* line 48, stdin */
      #neve-page-busca .neve-busca-result-list li .image-container img {
        max-width: 100px;
        max-height: 100px; }
    /* line 53, stdin */
    #neve-page-busca .neve-busca-result-list li .description-container {
      display: inline-block;
      width: 100%; }
      /* line 56, stdin */
      #neve-page-busca .neve-busca-result-list li .description-container h1 {
        margin: 0; }

@media only screen and (min-width: 768px) {
  /* line 64, stdin */
  #neve-page-busca > header, #neve-page-busca #neve-busca-resultado {
    padding-left: 50px;
    padding-right: 50px; }
  /* line 69, stdin */
  #neve-page-busca > header {
    padding-top: 50px; }
  /* line 73, stdin */
  #neve-page-busca #neve-busca-resultado > button {
    display: inline-block;
    margin-left: 14px; }
  /* line 78, stdin */
  #neve-page-busca form > div, #neve-page-busca #space-from-search {
    max-width: 740px; }
  /* line 82, stdin */
  #neve-page-busca input[type=submit] {
    margin-left: 10px; }
  /* line 86, stdin */
  #neve-page-busca .neve-busca-result-list {
    max-width: 600px; }
    /* line 89, stdin */
    #neve-page-busca .neve-busca-result-list li .image-container {
      vertical-align: top; }
    /* line 92, stdin */
    #neve-page-busca .neve-busca-result-list li .image-container + .description-container {
      padding-left: 120px;
      margin-left: -120px; } }

@media (max-width: 768px) {
  /* line 101, stdin */
  #neve-page-busca > header, #neve-page-busca #neve-busca-resultado {
    padding-left: 10px;
    padding-right: 10px; }
  /* line 106, stdin */
  #neve-page-busca > header {
    padding-top: 40px; }
  /* line 110, stdin */
  #neve-page-busca form > div {
    padding-right: 87px;
    margin-right: -95px; }
  /* line 115, stdin */
  #neve-page-busca #neve-busca-resultado > button {
    margin: 20px auto; }
  /* line 121, stdin */
  #neve-page-busca .neve-busca-result-list li .image-container {
    float: right;
    text-align: right; }
  /* line 125, stdin */
  #neve-page-busca .neve-busca-result-list li .image-container + .description-container {
    padding-right: 120px;
    margin-right: -120px; } }
