/* line 5, stdin */
#neve-vamos-combinar #combinar-top {
  background-image: url("../images/home/women.png");
  height: 400px;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover; }
  @media only screen and (min-width: 768px) {
    /* line 13, stdin */
    #neve-vamos-combinar #combinar-top #div_1 {
      margin-top: 295px; }
    /* line 16, stdin */
    #neve-vamos-combinar #combinar-top #div_2 {
      margin-top: 265px; }
    /* line 19, stdin */
    #neve-vamos-combinar #combinar-top img {
      float: right; } }
  @media (max-width: 768px) {
    /* line 26, stdin */
    #neve-vamos-combinar #combinar-top #div_1 {
      margin-top: 215px; }
    /* line 29, stdin */
    #neve-vamos-combinar #combinar-top #div_2 {
      text-align: center; }
    /* line 32, stdin */
    #neve-vamos-combinar #combinar-top img {
      height: 70px; } }

@media only screen and (min-width: 768px) {
  /* line 41, stdin */
  #neve-produtos #div_1, #neve-produtos #div_2, #neve-produtos #div_3 {
    padding-left: 10px;
    width: 50%; }
  /* line 45, stdin */
  #neve-produtos #div_1, #neve-produtos #div_3 {
    float: right; }
  /* line 48, stdin */
  #neve-produtos #div_1 {
    margin-bottom: 10px; }
  /* line 51, stdin */
  #neve-produtos #div_2 {
    float: left;
    text-align: center; }
    /* line 54, stdin */
    #neve-produtos #div_2 img {
      height: 385px; }
  /* line 59, stdin */
  #neve-produtos #div_3 .neve-simple-video-container {
    display: inline-block;
    float: left; }
  /* line 63, stdin */
  #neve-produtos #div_3 img {
    width: 100%;
    margin-bottom: 20px; }
  /* line 67, stdin */
  #neve-produtos #div_3 p {
    text-align: center; }
  /* line 72, stdin */
  #neve-produtos #products-list > h3 {
    margin-top: 50px; }
  /* line 76, stdin */
  #neve-produtos .products-list-item {
    margin-bottom: 50px;
    position: relative; }
    /* line 79, stdin */
    #neve-produtos .products-list-item h3 {
      display: inline-block;
      min-width: 180px; }
    /* line 83, stdin */
    #neve-produtos .products-list-item > img {
      float: right;
      width: 50%;
      margin-right: -7px; }
    /* line 88, stdin */
    #neve-produtos .products-list-item .item-characteristc {
      margin-top: 40px; }
    /* line 91, stdin */
    #neve-produtos .products-list-item .item-details {
      position: absolute;
      bottom: 0; }
      /* line 94, stdin */
      #neve-produtos .products-list-item .item-details img {
        width: 115px; }
      /* line 97, stdin */
      #neve-produtos .products-list-item .item-details button {
        display: block;
        margin: 10px auto 0 auto;
        width: 110px;
        heignt: 30px; } }

@media (max-width: 768px) {
  /* line 110, stdin */
  #neve-produtos #div_1, #neve-produtos #div_2, #neve-produtos #div_3 {
    width: 100%; }
  /* line 113, stdin */
  #neve-produtos #div_2, #neve-produtos #div_3 {
    text-align: center; }
  /* line 116, stdin */
  #neve-produtos #div_1 {
    margin-bottom: 10px; }
  /* line 120, stdin */
  #neve-produtos #div_2 img {
    height: 265px; }
  /* line 125, stdin */
  #neve-produtos #div_3 img {
    height: 165px;
    margin-bottom: 10px; }
  /* line 132, stdin */
  #neve-produtos #products-list {
    text-align: center; }
    /* line 134, stdin */
    #neve-produtos #products-list > h3 {
      margin-top: 30px;
      margin-bottom: 20px; }
  /* line 140, stdin */
  #neve-produtos .products-list-item {
    margin-bottom: 20px; }
    /* line 142, stdin */
    #neve-produtos .products-list-item h3 {
      display: inline-block; }
    /* line 145, stdin */
    #neve-produtos .products-list-item > img {
      width: 100%;
      padding: 0 30px; }
    /* line 149, stdin */
    #neve-produtos .products-list-item .item-characteristc {
      margin-bottom: 40px; }
    /* line 152, stdin */
    #neve-produtos .products-list-item .item-details {
      padding: 0 40px; }
      /* line 154, stdin */
      #neve-produtos .products-list-item .item-details h3 {
        text-align: left; }
      /* line 157, stdin */
      #neve-produtos .products-list-item .item-details img {
        width: 45px; }
      /* line 160, stdin */
      #neve-produtos .products-list-item .item-details button {
        display: block;
        margin: 10px auto 0 auto;
        width: 110px;
        heignt: 30px; } }

/* line 174, stdin */
#neve-toques-cuidado #div_1 {
  background-color: #ccc;
  margin-bottom: 20px; }

/* line 179, stdin */
#neve-toques-cuidado #div_3 {
  text-align: center;
  margin-bottom: 30px; }

/* line 185, stdin */
#neve-toques-cuidado .items-list-section h3 i {
  font-size: 33px;
  margin-right: 20px;
  vertical-align: middle; }

/* line 190, stdin */
#neve-toques-cuidado .items-list-section ul {
  margin: 30px 0;
  padding: 0; }

@media only screen and (min-width: 768px) {
  /* line 197, stdin */
  #neve-toques-cuidado #div_1 {
    padding: 15px 50% 15px 50px; }
  /* line 201, stdin */
  #neve-toques-cuidado .items-list-section ul li {
    box-shadow: #999 2px 2px 5px;
    width: 30%; }
    /* line 204, stdin */
    #neve-toques-cuidado .items-list-section ul li img {
      width: 100%; }
    /* line 207, stdin */
    #neve-toques-cuidado .items-list-section ul li p {
      background-color: #cecece;
      padding: 10px;
      margin: 0; } }

@media (max-width: 768px) {
  /* line 217, stdin */
  #neve-toques-cuidado #div_1 {
    padding: 15px; }
  /* line 220, stdin */
  #neve-toques-cuidado #div_2 {
    padding: 0 10px 0 0; }
  /* line 224, stdin */
  #neve-toques-cuidado .items-list-section h3 {
    padding-left: 15px; }
  /* line 227, stdin */
  #neve-toques-cuidado .items-list-section ul li {
    width: 100%;
    position: relative; }
    /* line 230, stdin */
    #neve-toques-cuidado .items-list-section ul li img {
      width: 40%; }
    /* line 233, stdin */
    #neve-toques-cuidado .items-list-section ul li p {
      padding: 0 0 0 10px;
      margin: 0;
      width: 60%;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); } }

/* line 251, stdin */
#neve-manifesto #div_1 {
  display: inline-block;
  height: 100%;
  position: relative;
  background-image: url("../images/home/free.png");
  background-repeat: no-repeat;
  background-position: 25% 50%;
  background-size: cover; }
  /* line 259, stdin */
  #neve-manifesto #div_1 .neve-section-content {
    position: absolute;
    bottom: 10px; }

/* line 265, stdin */
#neve-manifesto #div_2 {
  text-align: center; }

@media only screen and (min-width: 768px) {
  /* line 249, stdin */
  #neve-manifesto {
    height: 400px; }
    /* line 272, stdin */
    #neve-manifesto #div_1 {
      width: 63.4%; }
    /* line 276, stdin */
    #neve-manifesto #div_2 {
      float: right;
      height: 100%;
      display: inline-block;
      width: 36.6%;
      padding: 0 40px; } }

@media (max-width: 768px) {
  /* line 287, stdin */
  #neve-manifesto #div_1 {
    height: 325px;
    width: 100%; }
    /* line 290, stdin */
    #neve-manifesto #div_1 button {
      margin: 0 auto;
      width: 100px;
      display: block; }
  /* line 298, stdin */
  #neve-manifesto #div_2 .neve-mobile .fa-facebook {
    margin-right: 10px;
    font-size: 30px;
    vertical-align: middle; }
  /* line 303, stdin */
  #neve-manifesto #div_2 .neve-mobile button {
    height: 30px;
    width: 90px; } }
