/* line 5, stdin */
#neve-vamos-combinar #combinar-top {
  background-image: url("../images/home/women.png");
  height: 400px;
  background-repeat: no-repeat;
  background-position: 75% 50%;
  background-size: cover; }
