@media (max-width: 768px) {
  /* line 5, stdin */
  #neve-header {
    height: 40px; }
    /* line 8, stdin */
    #neve-header .navbar-toggle {
      height: 40px;
      width: 45px;
      position: relative;
      right: 0px;
      top: 0;
      margin: 0;
      border: 0; }
      /* line 16, stdin */
      #neve-header .navbar-toggle .fa {
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    /* line 25, stdin */
    #neve-header #logo {
      width: 80px;
      height: 40px;
      margin-left: 10px; }
    /* line 31, stdin */
    #neve-header #neve-menu {
      margin: 0 -15px; }
    /* line 35, stdin */
    #neve-header #neve-search {
      padding: 0 15px;
      position: relative; }
      /* line 38, stdin */
      #neve-header #neve-search .fa-stack {
        float: right;
        z-index: 1; }
      /* line 42, stdin */
      #neve-header #neve-search #neve-searchField {
        position: absolute;
        left: 15px;
        right: 46px;
        top: 3px;
        z-index: 0; }
        /* line 48, stdin */
        #neve-header #neve-search #neve-searchField input {
          height: 32px;
          width: 100%; }
  /* line 56, stdin */
  #neve-content {
    padding-top: 40px;
    padding-bottom: 200px; }
  /* line 63, stdin */
  #neve-footer {
    text-align: center; }
    /* line 66, stdin */
    #neve-footer ul#neve-sections li {
      display: block;
      font-size: 20px; }
    /* line 71, stdin */
    #neve-footer #logo {
      width: 80px;
      height: 40px; } }
