@media (max-width: 768px) {
  /******************************
            UTILS
******************************/
  /* line 9, stdin */
  .neve-desktop {
    display: none; }
  /* line 13, stdin */
  h1.neve-h {
    font-size: 24px; }
  /* line 16, stdin */
  h2.neve-h {
    font-size: 18px; }
  /* line 19, stdin */
  h3.neve-h {
    font-size: 16px; }
  /******************************
            PARTS
******************************/
  /* line 28, stdin */
  #neve-header {
    height: 40px; }
    /* line 31, stdin */
    #neve-header .navbar-toggle {
      height: 40px;
      width: 45px;
      position: relative;
      right: 0px;
      top: 0;
      margin: 0;
      border: 0; }
      /* line 39, stdin */
      #neve-header .navbar-toggle .fa {
        font-size: 25px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%); }
    /* line 48, stdin */
    #neve-header #logo {
      width: 80px;
      height: 40px;
      margin-left: 10px; }
    /* line 54, stdin */
    #neve-header #neve-menu {
      margin: 0 -15px; }
    /* line 58, stdin */
    #neve-header #neve-search {
      padding: 0 15px;
      position: relative; }
      /* line 61, stdin */
      #neve-header #neve-search .fa-stack {
        float: right;
        z-index: 1; }
      /* line 65, stdin */
      #neve-header #neve-search #neve-searchField {
        position: absolute;
        left: 15px;
        right: 46px;
        top: 3px;
        z-index: 0; }
        /* line 71, stdin */
        #neve-header #neve-search #neve-searchField input {
          height: 32px;
          width: 100%; }
  /* line 79, stdin */
  #neve-content {
    padding-top: 40px;
    padding-bottom: 200px; }
    /* line 82, stdin */
    #neve-content > section .neve-section-content {
      padding-left: 15px;
      padding-right: 15px; }
  /* line 90, stdin */
  #neve-footer {
    text-align: center; }
    /* line 93, stdin */
    #neve-footer ul#neve-sections li {
      display: block;
      font-size: 20px; }
    /* line 98, stdin */
    #neve-footer #logo {
      width: 80px;
      height: 40px; } }
