@charset "UTF-8";
/* line 5, stdin */
#neve-page-produtos #neve-produtos-header {
  height: 210px;
  background-image: url("../images/produtos/products-banner.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }

/* line 13, stdin */
#neve-page-produtos .neve-embalagens {
  display: inline-block;
  position: relative;
  margin: 20px;
  font-size: 16px; }
  /* line 18, stdin */
  #neve-page-produtos .neve-embalagens:before {
    content: '';
    padding: 25px;
    background: url("../images/produtos/paper-roll-icon.png") center center no-repeat;
    position: absolute;
    top: -25px;
    left: -55px; }
  /* line 26, stdin */
  #neve-page-produtos .neve-embalagens:after {
    content: 'Disponível nos pacotes de:';
    font-size: 14px;
    position: absolute;
    left: -5px;
    top: -20px;
    width: 180px; }

/* line 36, stdin */
#neve-page-produtos #neve-produtos-list {
  padding: 0;
  margin: 0; }
  /* line 39, stdin */
  #neve-page-produtos #neve-produtos-list li {
    display: block;
    text-align: center; }
    /* line 42, stdin */
    #neve-page-produtos #neve-produtos-list li:nth-child(even) {
      background-color: #dfdfdf; }
  /* line 47, stdin */
  #neve-page-produtos #neve-produtos-list .neve-details button {
    display: block;
    margin: 10px auto;
    width: 110px;
    height: 35px; }

@media only screen and (min-width: 768px) {
  /* line 59, stdin */
  #neve-page-produtos #neve-produtos-header div {
    padding-left: 50px;
    padding-top: 50px;
    width: 50%; }
  /* line 67, stdin */
  #neve-page-produtos #neve-produtos-list li .neve-illustration, #neve-page-produtos #neve-produtos-list li .neve-details {
    width: 50%;
    display: inline-block;
    padding: 30px 0; }
  /* line 72, stdin */
  #neve-page-produtos #neve-produtos-list li .neve-illustration {
    float: right; }
    /* line 74, stdin */
    #neve-page-produtos #neve-produtos-list li .neve-illustration img {
      width: 245px;
      max-height: 240px; }
  /* line 79, stdin */
  #neve-page-produtos #neve-produtos-list li .neve-details {
    padding-left: 130px; }
    /* line 81, stdin */
    #neve-page-produtos #neve-produtos-list li .neve-details p {
      text-align: left; } }

@media (max-width: 768px) {
  /* line 90, stdin */
  #neve-page-produtos #neve-produtos-header {
    padding: 100px 10px 0 10px; }
    /* line 92, stdin */
    #neve-page-produtos #neve-produtos-header h1 {
      margin: 0; }
  /* line 98, stdin */
  #neve-page-produtos #neve-produtos-list li {
    padding: 10px 15px; }
  /* line 101, stdin */
  #neve-page-produtos #neve-produtos-list img {
    width: 220px;
    max-height: 220px; } }

/* line 112, stdin */
#neve-page-produtos-detalhes ul {
  margin: 0;
  padding: 0; }
  /* line 115, stdin */
  #neve-page-produtos-detalhes ul li {
    display: block; }
  /* line 118, stdin */
  #neve-page-produtos-detalhes ul.neve-embalagens-buttons {
    margin: 20px auto;
    width: 270px; }
    /* line 121, stdin */
    #neve-page-produtos-detalhes ul.neve-embalagens-buttons li {
      cursor: pointer; }
  /* line 126, stdin */
  #neve-page-produtos-detalhes ul#neve-characteristics div {
    display: inline-block;
    width: 40px;
    vertical-align: middle;
    text-align: center;
    margin: 10px 10px 10px 0; }
  /* line 133, stdin */
  #neve-page-produtos-detalhes ul#neve-characteristics img {
    max-width: 40px;
    max-height: 40px; }

/* line 140, stdin */
#neve-page-produtos-detalhes #product-details {
  background-color: #ccc; }

/* line 144, stdin */
#neve-page-produtos-detalhes #neve-suggestion {
  background-color: #bbb; }

/* line 149, stdin */
#neve-page-produtos-detalhes #div_2 li {
  text-align: center;
  display: inline-block;
  width: 45px;
  height: 45px;
  border: 1px solid blue;
  font-size: 15px; }
  /* line 156, stdin */
  #neve-page-produtos-detalhes #div_2 li.active {
    color: #fff;
    background-color: blue; }

/* line 164, stdin */
#neve-page-produtos-detalhes #div_3 #neve-social {
  font-size: 30px;
  margin: 20px 0; }

/* line 171, stdin */
#neve-page-produtos-detalhes #products-others > div > div {
  display: inline-block;
  width: 50%;
  background-color: #bbb;
  position: relative;
  border: 1px solid #eee; }

/* line 180, stdin */
#neve-page-produtos-detalhes #product-campaign {
  position: relative; }

@media only screen and (min-width: 768px) {
  /* line 186, stdin */
  #neve-page-produtos-detalhes #product-details {
    padding: 20px 50px 70px 20px; }
  /* line 190, stdin */
  #neve-page-produtos-detalhes #div_1 {
    float: left; }
  /* line 194, stdin */
  #neve-page-produtos-detalhes #div_1, #neve-page-produtos-detalhes #div_2, #neve-page-produtos-detalhes #div_3 {
    width: 50%;
    display: inline-block; }
  /* line 199, stdin */
  #neve-page-produtos-detalhes #div_2 {
    float: right;
    text-align: center;
    margin-right: -45px; }
    /* line 203, stdin */
    #neve-page-produtos-detalhes #div_2 img {
      width: 310px;
      max-height: 310px; }
  /* line 209, stdin */
  #neve-page-produtos-detalhes #neve-suggestion {
    position: absolute;
    width: 490px;
    left: 0;
    height: 35px;
    padding-left: 70px; }
    /* line 215, stdin */
    #neve-page-produtos-detalhes #neve-suggestion div {
      position: relative;
      top: -60%; }
    /* line 219, stdin */
    #neve-page-produtos-detalhes #neve-suggestion img {
      max-height: 80px;
      margin-left: 20px; }
  /* line 226, stdin */
  #neve-page-produtos-detalhes #products-others > div > div {
    height: 130px; }
    /* line 228, stdin */
    #neve-page-produtos-detalhes #products-others > div > div div {
      display: inline-block;
      position: relative;
      top: 50%;
      margin-top: -34px;
      width: 50%; }
  /* line 236, stdin */
  #neve-page-produtos-detalhes #products-others > div #product-right {
    text-align: right;
    padding-right: 50px; }
    /* line 239, stdin */
    #neve-page-produtos-detalhes #products-others > div #product-right img {
      float: right;
      margin-left: 20px; }
  /* line 244, stdin */
  #neve-page-produtos-detalhes #products-others > div #product-left {
    padding-left: 50px;
    float: left; }
    /* line 247, stdin */
    #neve-page-produtos-detalhes #products-others > div #product-left img {
      float: left;
      margin-right: 20px; }
  /* line 252, stdin */
  #neve-page-produtos-detalhes #products-others > div img {
    max-height: 130px;
    max-width: 130px; }
  /* line 258, stdin */
  #neve-page-produtos-detalhes #product-campaign {
    min-height: 370px; }
    /* line 260, stdin */
    #neve-page-produtos-detalhes #product-campaign #div_1, #neve-page-produtos-detalhes #product-campaign #div_2, #neve-page-produtos-detalhes #product-campaign #div_3 {
      width: 50%;
      position: absolute; }
    /* line 264, stdin */
    #neve-page-produtos-detalhes #product-campaign #div_1 {
      right: 0;
      top: 40px; }
    /* line 268, stdin */
    #neve-page-produtos-detalhes #product-campaign #div_2 {
      position: absolute;
      bottom: 0;
      left: 0;
      padding-right: 80px; }
      /* line 273, stdin */
      #neve-page-produtos-detalhes #product-campaign #div_2 img {
        max-height: 280px;
        max-width: 400px; }
    /* line 278, stdin */
    #neve-page-produtos-detalhes #product-campaign #div_3 {
      right: 0;
      bottom: 20px; }
      /* line 281, stdin */
      #neve-page-produtos-detalhes #product-campaign #div_3 img {
        width: 400px;
        height: 235px; } }

@media (max-width: 768px) {
  /* line 291, stdin */
  #neve-page-produtos-detalhes #product-details {
    padding: 5px 15px; }
  /* line 294, stdin */
  #neve-page-produtos-detalhes #div_2 {
    text-align: center; }
    /* line 296, stdin */
    #neve-page-produtos-detalhes #div_2 img {
      max-width: 230px; }
  /* line 301, stdin */
  #neve-page-produtos-detalhes #div_3 #neve-social {
    text-align: center; }
  /* line 304, stdin */
  #neve-page-produtos-detalhes #div_3 #neve-suggestion {
    text-align: center;
    padding: 5px;
    width: 110%;
    margin-left: -5%; }
    /* line 309, stdin */
    #neve-page-produtos-detalhes #div_3 #neve-suggestion img {
      max-height: 50px;
      display: block;
      margin: 0 auto; }
  /* line 317, stdin */
  #neve-page-produtos-detalhes #products-others {
    display: table;
    width: 100%; }
    /* line 320, stdin */
    #neve-page-produtos-detalhes #products-others > div {
      display: table-row; }
      /* line 322, stdin */
      #neve-page-produtos-detalhes #products-others > div > div {
        display: table-cell;
        text-align: center;
        padding: 5px 15px;
        width: 50%; }
        /* line 327, stdin */
        #neve-page-produtos-detalhes #products-others > div > div p {
          text-align: left; }
      /* line 331, stdin */
      #neve-page-produtos-detalhes #products-others > div img {
        max-height: 80px;
        max-width: 80px; }
  /* line 338, stdin */
  #neve-page-produtos-detalhes #product-campaign {
    padding: 10px 15px 20px 15px; }
    /* line 340, stdin */
    #neve-page-produtos-detalhes #product-campaign #div_1 h2 {
      text-align: center; }
    /* line 344, stdin */
    #neve-page-produtos-detalhes #product-campaign #div_2 img {
      width: 100%; }
    /* line 349, stdin */
    #neve-page-produtos-detalhes #product-campaign #div_3 img {
      width: 100%; } }
