/* line 3, stdin */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

/* line 10, stdin */
#neve-body {
  max-width: 960px;
  min-height: 100%;
  position: relative;
  padding: 0; }

/* line 17, stdin */
#neve-header {
  max-width: 960px;
  min-height: 40px;
  margin: auto; }
  /* line 24, stdin */
  #neve-header .navbar-toggle.collapsed .fa-remove {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
  /* line 30, stdin */
  #neve-header .navbar-toggle:not(.collapsed) .fa-bars {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
  /* line 37, stdin */
  #neve-header #logo {
    margin-left: 10px; }

/* line 42, stdin */
#neve-content {
  min-height: 200px;
  padding-bottom: 100px; }

/* line 47, stdin */
#neve-footer {
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  left: 0; }
