/* line 3, stdin */
html, body {
  margin: 0;
  padding: 0;
  height: 100%; }

/******************************
            UTILS
******************************/
/* line 13, stdin */
h1.neve-h, h2.neve-h, h3.neve-h {
  margin: 0 0 10px 0; }

/* line 17, stdin */
.font-xs {
  font-size: 10px; }

/* line 20, stdin */
.font-s {
  font-size: 12px; }

/* line 23, stdin */
.font-m {
  font-size: 14px; }

/* line 26, stdin */
.font-l {
  font-size: 16px; }

/******************************
            PARTS
******************************/
/* line 34, stdin */
#neve-body {
  max-width: 960px;
  min-height: 100%;
  position: relative;
  padding: 0;
  width: 100%; }

/* line 42, stdin */
#neve-header {
  max-width: 960px;
  width: 100%;
  min-height: 40px;
  margin: 0 auto;
  z-index: 100; }
  /* line 51, stdin */
  #neve-header .navbar-toggle.collapsed .fa-remove {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }
  /* line 57, stdin */
  #neve-header .navbar-toggle:not(.collapsed) .fa-bars {
    opacity: 0;
    -webkit-transition: opacity 0.2s;
            transition: opacity 0.2s; }

/* line 65, stdin */
#neve-content {
  min-height: 200px;
  z-index: 50; }

/* line 70, stdin */
#neve-back {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 90;
  background-color: #ccc;
  display: none;
  opacity: .70;
  filter: alpha(opacity=70); }
  /* line 81, stdin */
  #neve-back.active {
    display: block; }

/* line 86, stdin */
#neve-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #cdcdcd;
  z-index: 80; }
  /* line 93, stdin */
  #neve-footer ul {
    padding: 0; }
  /* line 96, stdin */
  #neve-footer li {
    display: inline-block; }

/* line 102, stdin */
.neve-next-section {
  margin: 0 auto;
  width: 40px;
  display: block;
  text-align: center;
  font-size: 30px;
  cursor: pointer; }
