/* line 5, stdin */
#neve-page-toquecuidado header {
  height: 100px;
  background-color: #ddd;
  padding: 30px 0 0 50px; }
  /* line 9, stdin */
  #neve-page-toquecuidado header h1 {
    margin: 0; }

/* line 14, stdin */
#neve-page-toquecuidado #neve-featured {
  height: 300px;
  background-color: #aaa;
  padding: 0 50px 0 50px;
  position: relative; }
  /* line 19, stdin */
  #neve-page-toquecuidado #neve-featured div {
    position: absolute;
    bottom: 20px; }
    /* line 22, stdin */
    #neve-page-toquecuidado #neve-featured div h1 {
      margin: 10px 0 20px 0; }

/* line 28, stdin */
#neve-page-toquecuidado .items-list-section {
  position: relative; }
  /* line 30, stdin */
  #neve-page-toquecuidado .items-list-section > button {
    position: absolute;
    right: 0;
    bottom: 0; }
  /* line 35, stdin */
  #neve-page-toquecuidado .items-list-section h3 i {
    font-size: 33px;
    margin-right: 20px;
    vertical-align: middle; }
  /* line 40, stdin */
  #neve-page-toquecuidado .items-list-section ul {
    margin: 30px 0 0 50px;
    padding: 0 0 50px 0;
    width: 65%;
    position: relative; }
    /* line 45, stdin */
    #neve-page-toquecuidado .items-list-section ul li {
      display: inline-block;
      position: relative;
      box-shadow: #999 2px 2px 5px;
      width: 280px;
      margin-right: 20px;
      margin-bottom: 20px; }
      /* line 52, stdin */
      #neve-page-toquecuidado .items-list-section ul li button {
        display: none; }
      /* line 55, stdin */
      #neve-page-toquecuidado .items-list-section ul li img {
        width: 100%;
        -webkit-transition: opacity 0.5s;
                transition: opacity 0.5s; }
      /* line 59, stdin */
      #neve-page-toquecuidado .items-list-section ul li p {
        background-color: #cecece;
        padding: 10px;
        margin: 0; }

/* line 69, stdin */
#neve-page-toquecuidado #neve-articles-filter {
  float: right;
  background-color: #ccc;
  position: relative;
  z-index: 55; }
  /* line 74, stdin */
  #neve-page-toquecuidado #neve-articles-filter ul {
    padding: 10px 0; }
    /* line 76, stdin */
    #neve-page-toquecuidado #neve-articles-filter ul li {
      display: block;
      cursor: pointer; }
      /* line 79, stdin */
      #neve-page-toquecuidado #neve-articles-filter ul li:hover {
        background-color: #eee; }
      /* line 82, stdin */
      #neve-page-toquecuidado #neve-articles-filter ul li.active {
        background-color: #333;
        color: #fff; }
      /* line 86, stdin */
      #neve-page-toquecuidado #neve-articles-filter ul li div {
        display: inline-block; }
        /* line 88, stdin */
        #neve-page-toquecuidado #neve-articles-filter ul li div.neve-icon-container {
          width: 30px;
          font-size: 30px;
          text-align: center;
          vertical-align: middle; }
        /* line 94, stdin */
        #neve-page-toquecuidado #neve-articles-filter ul li div.neve-text-container {
          padding-left: 10px;
          max-width: 150px;
          vertical-align: middle; }

/* line 105, stdin */
#neve-page-toquecuidado #neve-suggestion {
  display: table; }
  /* line 107, stdin */
  #neve-page-toquecuidado #neve-suggestion > div {
    display: table-row;
    height: 70px; }
    /* line 110, stdin */
    #neve-page-toquecuidado #neve-suggestion > div div {
      display: table-cell;
      position: relative;
      top: 50%;
      width: 50%;
      background-color: #ccc;
      border: 1px solid blue;
      padding-top: 10px; }
  /* line 120, stdin */
  #neve-page-toquecuidado #neve-suggestion #suggestion-right {
    text-align: right;
    padding-right: 50px; }
  /* line 124, stdin */
  #neve-page-toquecuidado #neve-suggestion #suggestion-left {
    padding-left: 50px; }

@media only screen and (min-width: 768px) {
  /* line 131, stdin */
  #neve-page-toquecuidado #neve-articles-filter {
    margin-right: 30px;
    top: 300px; }
    /* line 134, stdin */
    #neve-page-toquecuidado #neve-articles-filter ul {
      width: 220px; }
      /* line 136, stdin */
      #neve-page-toquecuidado #neve-articles-filter ul li {
        padding-left: 20px; }
  /* line 145, stdin */
  #neve-page-toquecuidado .items-list-section ul li:hover {
    cursor: pointer; }
    /* line 147, stdin */
    #neve-page-toquecuidado .items-list-section ul li:hover img {
      border: 1px solid blue;
      opacity: 0.7; }
    /* line 151, stdin */
    #neve-page-toquecuidado .items-list-section ul li:hover button {
      display: block;
      position: absolute;
      margin: 35% 12%;
      height: 40px;
      width: 135px;
      border-radius: 20px; }
  /* line 160, stdin */
  #neve-page-toquecuidado .items-list-section ul li button {
    position: absolute;
    bottom: 20px;
    right: 40px; } }

@media (max-width: 768px) {
  /* line 170, stdin */
  #neve-page-toquecuidado #neve-featured {
    padding: 15px; }
    /* line 172, stdin */
    #neve-page-toquecuidado #neve-featured > div {
      padding-right: 15px; }
      /* line 174, stdin */
      #neve-page-toquecuidado #neve-featured > div button {
        margin: 0 auto;
        display: block;
        width: 80px; }
  /* line 183, stdin */
  #neve-page-toquecuidado #neve-articles-filter {
    float: none;
    position: relative;
    width: 100%; }
    /* line 187, stdin */
    #neve-page-toquecuidado #neve-articles-filter ul {
      margin: 0;
      display: none;
      width: 100%; }
      /* line 191, stdin */
      #neve-page-toquecuidado #neve-articles-filter ul.neve-expanded {
        display: block; }
      /* line 194, stdin */
      #neve-page-toquecuidado #neve-articles-filter ul li {
        padding: 0 15px; }
    /* line 198, stdin */
    #neve-page-toquecuidado #neve-articles-filter > div {
      height: 35px;
      text-align: center;
      padding-top: 10px;
      cursor: pointer; }
  /* line 207, stdin */
  #neve-page-toquecuidado .items-list-section ul {
    padding: 10px 0;
    margin: 0;
    width: 100%; }
    /* line 211, stdin */
    #neve-page-toquecuidado .items-list-section ul li {
      margin: 0 auto 10px auto;
      max-width: 320px;
      width: 100%;
      display: block; }
    /* line 217, stdin */
    #neve-page-toquecuidado .items-list-section ul > button {
      width: 80px;
      display: block;
      margin: 10px auto; } }

/* line 228, stdin */
#neve-page-toquecuidado.neve-post #neve-social-top {
  margin: 10px 0; }
  /* line 230, stdin */
  #neve-page-toquecuidado.neve-post #neve-social-top .neve-social-counter {
    border: 1px solid blue;
    height: 25px;
    min-width: 90px;
    margin: 0 10px;
    text-align: center;
    display: inline-block; }
    /* line 237, stdin */
    #neve-page-toquecuidado.neve-post #neve-social-top .neve-social-counter > div {
      display: inline-block;
      vertical-align: middle; }
    /* line 241, stdin */
    #neve-page-toquecuidado.neve-post #neve-social-top .neve-social-counter .social-icon-container {
      height: 100%;
      color: #fff;
      background-color: blue;
      width: 35px;
      font-size: 20px; }
    /* line 248, stdin */
    #neve-page-toquecuidado.neve-post #neve-social-top .neve-social-counter .social-counter-container {
      color: blue;
      width: 100%;
      margin-left: -39px;
      padding-left: 39px; }

/* line 257, stdin */
#neve-page-toquecuidado.neve-post #neve-social-bottom {
  font-size: 25px;
  margin: 20px 0; }

/* line 262, stdin */
#neve-page-toquecuidado.neve-post #neve-comments {
  background-color: #ddd;
  padding: 10px 20px 10px 50px; }
  /* line 265, stdin */
  #neve-page-toquecuidado.neve-post #neve-comments .neve-comments-list, #neve-page-toquecuidado.neve-post #neve-comments #neve-new-comment {
    padding: 0 0 0 20px; }
  /* line 269, stdin */
  #neve-page-toquecuidado.neve-post #neve-comments #neve-new-comment textarea {
    width: 100%;
    resize: vertical;
    min-height: 50px;
    padding: 10px 0px 0px 20px;
    border-radius: 5px;
    margin-top: 0px;
    margin-bottom: 0px;
    height: 50px; }
  /* line 280, stdin */
  #neve-page-toquecuidado.neve-post #neve-comments .neve-comment, #neve-page-toquecuidado.neve-post #neve-comments #neve-new-comment {
    display: block; }
    /* line 282, stdin */
    #neve-page-toquecuidado.neve-post #neve-comments .neve-comment .comment-user, #neve-page-toquecuidado.neve-post #neve-comments #neve-new-comment .comment-user {
      display: inline-block;
      width: 45px;
      height: 45px; }
    /* line 287, stdin */
    #neve-page-toquecuidado.neve-post #neve-comments .neve-comment .comment-body, #neve-page-toquecuidado.neve-post #neve-comments #neve-new-comment .comment-body {
      display: inline-block;
      width: 100%;
      padding-left: 50px;
      margin-left: -50px;
      vertical-align: top;
      margin-bottom: 10px; }

/* line 299, stdin */
#neve-page-toquecuidado.neve-post #neve-articles > h3 {
  padding-top: 20px; }

@media only screen and (min-width: 768px) {
  /* line 306, stdin */
  #neve-page-toquecuidado.neve-post #neve-featured {
    height: 210px; }
    /* line 308, stdin */
    #neve-page-toquecuidado.neve-post #neve-featured p {
      display: inline-block; }
    /* line 311, stdin */
    #neve-page-toquecuidado.neve-post #neve-featured span {
      float: right; }
  /* line 316, stdin */
  #neve-page-toquecuidado.neve-post #neve-social-top {
    text-align: right; }
  /* line 320, stdin */
  #neve-page-toquecuidado.neve-post #neve-post {
    padding-left: 50px; }
  /* line 324, stdin */
  #neve-page-toquecuidado.neve-post #neve-social-bottom {
    padding-left: 50px; }
  /* line 328, stdin */
  #neve-page-toquecuidado.neve-post #neve-articles-filter {
    top: 210px; }
  /* line 332, stdin */
  #neve-page-toquecuidado.neve-post #neve-article {
    padding-right: 290px; }
  /* line 336, stdin */
  #neve-page-toquecuidado.neve-post #neve-articles {
    padding-right: 285px; }
  /* line 341, stdin */
  #neve-page-toquecuidado.neve-post .items-list-section ul {
    padding: 0 0 0 50px;
    margin: 0;
    width: 100%; }
    /* line 345, stdin */
    #neve-page-toquecuidado.neve-post .items-list-section ul li {
      max-width: 200px;
      margin-right: 5px; }
      /* line 348, stdin */
      #neve-page-toquecuidado.neve-post .items-list-section ul li button {
        margin: 0;
        bottom: 98px;
        right: 32px; }
  /* line 358, stdin */
  #neve-page-toquecuidado.neve-post #neve-comments .neve-comments-list .neve-comments-list {
    padding: 0 0 0 45px; }
  /* line 363, stdin */
  #neve-page-toquecuidado.neve-post #neve-suggestion {
    cursor: pointer; }
    /* line 365, stdin */
    #neve-page-toquecuidado.neve-post #neve-suggestion #suggestion-right {
      padding-left: 10px; }
    /* line 368, stdin */
    #neve-page-toquecuidado.neve-post #neve-suggestion #suggestion-left {
      padding-right: 10px; }
  /* line 374, stdin */
  #neve-page-toquecuidado.neve-post #neve-articles > h3 {
    padding-left: 50px; } }

@media (max-width: 768px) {
  /* line 383, stdin */
  #neve-page-toquecuidado.neve-post #neve-social-top {
    text-align: center; }
  /* line 387, stdin */
  #neve-page-toquecuidado.neve-post #neve-post {
    padding: 0 10px; }
  /* line 391, stdin */
  #neve-page-toquecuidado.neve-post #neve-social-bottom {
    text-align: center; }
  /* line 395, stdin */
  #neve-page-toquecuidado.neve-post #neve-comments {
    padding: 0 10px; }
  /* line 399, stdin */
  #neve-page-toquecuidado.neve-post #neve-suggestion {
    width: 100%; }
    /* line 401, stdin */
    #neve-page-toquecuidado.neve-post #neve-suggestion #suggestion-right {
      padding-right: 10px; }
    /* line 404, stdin */
    #neve-page-toquecuidado.neve-post #neve-suggestion #suggestion-left {
      padding-left: 10px; }
  /* line 410, stdin */
  #neve-page-toquecuidado.neve-post #neve-articles > h3 {
    padding-left: 10px; }
  /* line 416, stdin */
  #neve-page-toquecuidado.neve-post .items-list-section ul li {
    width: 100%;
    position: relative;
    box-shadow: none;
    margin: 0;
    max-width: 100%; }
    /* line 422, stdin */
    #neve-page-toquecuidado.neve-post .items-list-section ul li img {
      width: 40%; }
    /* line 425, stdin */
    #neve-page-toquecuidado.neve-post .items-list-section ul li p {
      padding: 0 0 0 10px;
      margin: 0;
      width: 60%;
      position: absolute;
      right: 0;
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%);
      background-color: transparent; } }
