@@include('../partials/_head.html')

<div id="neve-page-busca">
	<header>
		<h2 class="neve-h" ><b>Busca</b></h2>
	</header>
	<section id="neve-busca-resultado" >
		<form>
			<div><input type="search" class="search-field" placeholder="Procura por?" /></div>
			<input type="submit" value="Buscar" />
		</form>
		<ul class="neve-busca-result-list" >
			<li>
				<div class="image-container" >
					<img src="images/produtos/neve.png" />
				</div>
				<div class="description-container" >
					<h2 class="neve-h"><b>
						Papel Higiênico Neve Supreme | Produtos
					</b></h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					</p>
				</div>
			</li>
			<li>
				<div class="description-container" >
					<h2 class="neve-h"><b>
						Reciclagem de papel higiênico | Sustentabilidade
					</b></h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					</p>
				</div>
			</li>
			<li>
				<div class="description-container" >
					<h2 class="neve-h"><b>
						Reciclagem de papel higiênico | Sustentabilidade
					</b></h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					</p>
				</div>
			</li>
			<li>
				<div class="description-container" >
					<h2 class="neve-h"><b>
						Reciclagem de papel higiênico | Sustentabilidade
					</b></h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					</p>
				</div>
			</li>
			<li>
				<div class="description-container" >
					<h2 class="neve-h"><b>
						Reciclagem de papel higiênico | Sustentabilidade
					</b></h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					</p>
				</div>
			</li>
			<li>
				<div class="description-container" >
					<h2 class="neve-h"><b>
						Reciclagem de papel higiênico | Sustentabilidade
					</b></h2>
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo.
					</p>
				</div>
			</li>
		</ul>
		<div id="space-from-search" ></div><button>mais ></button>
	</section>
</div>

@@include('../partials/_footer.html')