@@include('../partials/_head.html')

<section id="neve-vamos-combinar">
	<div class="neve-section-content" id="combinar-top" >
		<div class="clear" ></div>
		<div class="grid-parent grid-mobile-100 grid-50" id="div_1">
			<h1 class="neve-h" >Vamos Combinar!</h1>
			<p class="font-m" >Quando a novidade é boa a gente se acostuma rapidinho! A Neve
			ofere produtos de qualidade para a sua higiene íntima.</p>
		</div>

		<div class="grid-parent grid-mobile-100 grid-40 push-10" id="div_2">
			<img src="images/produtos/neve-set.png" />
		</div>

	</div>
</section>


<section id="neve-produtos" >
	<i class="fa fa-chevron-down neve-next-section" onclick="View.Nav.scrollTo('#neve-produtos')" ></i>

	<div class="clear" ></div>

	<div class="neve-section-content" >
		<div id="div_1">
			<h2 class="neve-h" ><b>Novos Lenços Umedecidos Neve</b></h2>
			<p class="font-m" >Com uma agradável fragrância o lenço Neve proporciona um cuidado superior na higiene íntima diária.</p>
		</div>	

		<div id="div_2">
			<img src="images/home/ingrid_1.png" />
		</div>

		<div id="div_3">
			<div class="neve-simple-video-container" >
				<img src="images/home/ingrid_2.png" />
				<p class="font-m" >Confira os novos Lenços Umedecidos</p>
			</div>
		</div>	
	</div>

	<div class="clear" ></div>	
</section>


<section id="neve-toques-cuidado" >
	Toque de Cuidado
</section>



<section id="neve-manifesto" >
	Manifesto Neve
</section>



@@include('../partials/_footer.html')