@@include('../partials/_head.html')

<section id="neve-vamos-combinar">
	<div class="neve-section-content" id="combinar-top" >

	
		<h1 class="neve-h" >Vamos Combinar!</h1>
		<p class="font-m" >Quando a novidade é boa a gente se acostuma rapidinho! A Neve
		ofere produtos de qualidade para a sua higiene íntima.</p>

		<!--div class="products-container" >
			<img class="neve-prod-neve" src="images/produtos/neve.png" />
			<img class="neve-prod-neutra" src="images/produtos/neve-neutra-care.png" />
			<img class="neve-prod-supreme" src="images/produtos/neve-supreme.png" />
			<img class="neve-prod-tissue" src="images/produtos/neve-tissue.png" />
		</div-->

	</div>
	<i class="fa fa-chevron-down neve-next-section"></i>
</section>


<section id="neve-produtos" >
	Novos Lenços Umedecidos Neve
</section>


<section id="neve-toques-cuidado" >
	Toque de Cuidado
</section>



<section id="neve-manifesto" >
	Manifesto Neve
</section>



@@include('../partials/_footer.html')