@@include('../partials/_head.html')

<section id="neve-vamos-combinar">
	<div class="neve-section-content" id="combinar-top" >
		<div class="clear" ></div>
		<div class="grid-parent grid-mobile-100 grid-50" id="div_1">
			<h1 class="neve-h" >Vamos Combinar!</h1>
			<p class="font-m" >Quando a novidade é boa a gente se acostuma rapidinho! A Neve
			ofere produtos de qualidade para a sua higiene íntima.</p>
		</div>

		<div class="grid-parent grid-mobile-100 grid-40 push-10" id="div_2">
			<img src="images/produtos/neve-set.png" />
		</div>

	</div>
</section>


<section id="neve-produtos" >
	<i class="fa fa-chevron-down neve-next-section" onclick="View.Nav.scrollTo('#neve-produtos')" ></i>

	<div class="clear" ></div>

	<div class="neve-section-content" >
		<div id="div_1">
			<h2 class="neve-h" ><b>Novos Lenços Umedecidos Neve</b></h2>
			<p class="font-m" >Com uma agradável fragrância o lenço Neve proporciona um cuidado superior na higiene íntima diária.</p>
		</div>	

		<div id="div_2">
			<img src="images/home/ingrid_1.png" />
		</div>

		<div id="div_3">
			<div class="neve-simple-video-container" >
				<img src="images/home/ingrid_2.png" />
				<p class="font-m" >Confira os novos Lenços Umedecidos</p>
			</div>
		</div>	
	</div>

	<div class="clear" ></div>	

	<div class="neve-section-content" id="products-list" >
		<h3 class="neve-h" ><b>Produtos para todos os momentos!</b></h3>

		<div>
			<div class="products-list-item" >
				<h2 class="neve-h item-characteristc" >Maciez Perfeita</h2>
				<img src="images/home/soft.png" />
				<div class="item-details" >
					<h3 class="neve-h"><b>com<br>Neve Toque de Seda</b></h3>
					<img src="images/produtos/neve.png" />
					<button><i class="fa fa-plus" ></i> detalhes</button>
				</div>
				<div class="clear" ></div>
			</div>
			<div class="products-list-item" >
				<h2 class="neve-h item-characteristc" >Resistência com folha tripla</h2>
				<img src="images/home/soft.png" />
				<div class="item-details" >
					<h3 class="neve-h"><b>com<br>Neve Supreme</b></h3>
					<img src="images/produtos/neve-supreme.png" />
					<button><i class="fa fa-plus" ></i> detalhes</button>
				</div>
				<div class="clear" ></div>
			</div>
			<div class="products-list-item" >
				<h2 class="neve-h item-characteristc" >Sem cheiro no cestinho</h2>
				<img src="images/home/soft.png" />
				<div class="item-details" >
					<h3 class="neve-h"><b>com<br>Neve Neutral Care</b></h3>
					<img src="images/produtos/neve-neutra-care.png" />
					<button><i class="fa fa-plus" ></i> detalhes</button>
				</div>
				<div class="clear" ></div>
			</div>
		</div>


	</div>

	<div class="clear" ></div>	

	<i class="fa fa-chevron-down neve-next-section" onclick="View.Nav.scrollTo('#neve-toques-cuidado')" ></i>
</section>


<section id="neve-toques-cuidado" >
	<div id="div_1" >
		<h2 class="neve-h" >Toque de Cuidado</h2>
		<p class="font-m" >Além de de produtos de qualidade a Neve oferece conteúdo para você decorar o seu banheiro, reaproveitar materiais e muito mais!</p>
	</div>
	<div class="neve-section-content" id="div_2" >
		

		<div class="items-list-section" id="decoracao_criatividade" >
			<h3 class="neve-h" >
				<i class="fa fa-paint-brush" ></i> <b>Decoração e Criatividade</b>
			</h3>
			<ul class="equidistant" >
				<li class="equidistant-item" >
					<img src="images/home/bathroom.png" />
					<p class="font-m" ><b>Ideias para decorar sendo sustentável</b></p></li>
				<li class="equidistant-item" >
					<img src="images/home/bathroom.png" />
					<p class="font-m" ><b>Ideias para decorar sendo sustentável</b></p></li>
				<li class="equidistant-item" >
					<img src="images/home/bathroom.png" />
					<p class="font-m" ><b>Ideias para decorar sendo sustentável</b></p></li>
			</ul>
		</div>
		<div class="items-list-section" id="sustentabilidade" >
			<h3 class="neve-h" >
				<i class="fa fa-recycle" ></i> <b>Sustentabilidade</b>
			</h3>
			<ul class="equidistant" >
				<li class="equidistant-item" >
					<img src="images/home/paper-roll.png" />
					<p class="font-m" ><b>Formas criativas de reutilizar rolos de papel</b></p></li>
				<li class="equidistant-item" >
					<img src="images/home/paper-roll.png" />
					<p class="font-m" ><b>Formas criativas de reutilizar rolos de papel</b></p></li>
				<li class="equidistant-item" >
					<img src="images/home/paper-roll.png" />
					<p class="font-m" ><b>Formas criativas de reutilizar rolos de papel</b></p></li>
			</ul>
		</div>
		<div class="items-list-section" id="passoapasso" >
			<h3 class="neve-h" >
				<i class="fa fa-scissors" ></i> <b>Passo a Passo</b>
			</h3>
			<ul class="equidistant" >
				<li class="equidistant-item" >
					<img src="images/home/boxes.png" />
					<p class="font-m" ><b>Como fazer móveis de caixote de feira</b></p></li>
				<li class="equidistant-item" >
					<img src="images/home/boxes.png" />
					<p class="font-m" ><b>Como fazer móveis de caixote de feira</b></p></li>
				<li class="equidistant-item" >
					<img src="images/home/boxes.png" />
					<p class="font-m" ><b>Como fazer móveis de caixote de feira</b></p></li>
			</ul>
		</div>
	</div>

	<div id="div_3" >
		<button>mais dicas</button>
	</div>
	<div class="clear" ></div>
</section>



<section id="neve-manifesto" >
	<div id="div_1" >
		<div class="neve-section-content" >
			<h2 class="neve-h" ><b>Manifesto Neve</b></h2>
			<p>A Neve quer trazer agilidade para o dia-a-dia da mulher contemporânea, oferecendo produtos de qualidade.</p>
			<button>Confira</button>
		</div>
	</div>
	<div id="div_2" >
		<p class="font-l" ><b>Fique por dentro das novidades da Neve no Facebook.</b></p>
		<img class="neve-desktop" src="images/home/facebook.png" />
		<div class="neve-mobile" >
			<i class="fa fa-facebook" ></i><button>Curtir</button>
		</div>
	</div>
	<div class="clear" ></div>
</section>



@@include('../partials/_footer.html')