@@include('../partials/_head.html')
<div id="neve-page-produtos-detalhes" >
	<section id="product-details">

		<div id="div_1" >
			<h1 class="neve-h" ><b>Neve Supreme</b></h1>
		</div>	

		<div id="div_2" >
			<img src="images/produtos/neve-supreme.png" />
			<ul class="neve-embalagens-buttons equidistant" >
				<li class="active" >4 rolos</li>
				<li>8 rolos</li>
				<li>12 rolos</li>
				<li>24 rolos</li>
				<li>32 rolos</li>
			</ul>
		</div>	

		<div id="div_3" >
			<p>
				Neve oferece pra você a maciez aveludada que a sua pele merece.Com suas três camadas, possui absorção superior e permite utilizar menos papel por ocasião. Agora com tecnologia Neutra Care, que envolve as moléculas de odor e suaviza o cheiro do cestinho.
			</p>
			<ul>
				<li>
					<img src="images/produtos/paper-roll-icon.png" />
					<span><b>Folha tripla</b></span>
				</li>
				<li>
					<img src="images/produtos/paper-roll-icon.png" />
					<span><b>Maciez Aveludada</b></span>
				</li>
				<li>
					<img src="images/produtos/paper-roll-icon.png" />
					<span><b>Não deixa cheiro no cestinho</b></span>
				</li>
			</ul>

			<div id="neve-suggestion" >
				Use com <a>Lenços Umedecidos Neve</a>
				<img src="images/produtos/neve-tissue.png" />
			</div>
		</div>

	</section>

</div>


@@include('../partials/_footer.html')