@@include('../partials/_head.html')

<div id="neve-page-toquecuidado" class="neve-post" >
	<header>
		<h1 class="neve-h" ><b>Toque de Cuidado</b></h1>
	</header>


	<nav id="neve-articles-filter" >
		<div class="neve-mobile" ><h3 class="neve-h" ><b>Assuntos <i class="fa fa-chevron-down" ></i></b></h3></div>
		<ul class="font-l" >
			<li class="active" >
				<div class="neve-icon-container" ><i class="fa fa-home" ></i></div>
				<div class="neve-text-container" ><span><b>Página Inicial</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-paint-brush" ></i></div>
				<div class="neve-text-container" ><span><b>Decoração e Criatividade</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-recycle" ></i></div>
				<div class="neve-text-container" ><span><b>Sustentabilidade</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-scissors" ></i></div>
				<div class="neve-text-container" ><span><b>Passo-a-Passo</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-heart" ></i></div>
				<div class="neve-text-container" ><span><b>Qualidade de Vida</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-user-md" ></i></div>
				<div class="neve-text-container" ><span><b>Saúde</b></span></div>
			</li>
		</ul>
	</nav>

	<section id="neve-banner"  class="neve-desktop" >

	</section>

	<section id="neve-featured" >
		<div>
			<h1 class="neve-h" >FORMAS CRIATIVAS DE REUTILIZAR ROLOS DE PAPEL</h1>
			<p>25/07/2015 postado por <b>Neve</b></p>
			<span class="font-s" >Sustentabilidade</span>
		</div>
	</section>


	<article id="neve-article" >
		<div id="neve-social-top" >
			<div class="neve-social-counter" >
				<div class="social-icon-container" >
					<i class="fa fa-facebook" ></i>
				</div>
				<div class="social-counter-container" >
					43
				</div>
			</div>

			<div class="neve-social-counter" >
				<div class="social-icon-container" >
					<i class="fa fa-twitter" ></i>
				</div>
				<div class="social-counter-container" >
					5
				</div>
			</div>
		</div>
		<section id="neve-post" >
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
			<br><br>
			<img src="images/home/bathroom.png" style="display: block; margin: 0 auto;" />
			<br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
			<br><br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
			<br><br>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
		</section>
		<div id="neve-social-bottom" >
			<i class="fa fa-facebook" ></i>
			<i class="fa fa-twitter" ></i>
			<i class="fa fa-whatsapp neve-mobile" ></i>
		</div>
		<section id="neve-comments" >
			<h2 class="neve-h" >Comentários</h2>
			<div id="neve-new-comment" >
				<div class="comment-user" >
					<span class="fa-stack fa-lg">
					  <i class="fa fa-square-o fa-stack-2x"></i>
					  <i class="fa fa-user fa-stack-1x"></i>
					</span>
				</div>
				<div class="comment-body" >
					<textarea placeholder="Escreva um comentário" ></textarea>
				</div>
			</div>
			<ul class="neve-comments-list" >
				<li class="neve-comment" >
					<div class="comment-user" >
						<span class="fa-stack fa-lg">
						  <i class="fa fa-square-o fa-stack-2x"></i>
						  <i class="fa fa-user fa-stack-1x"></i>
						</span>
					</div>
					<div class="comment-body" >
						<h3 class="neve-h" ><b>Leandro Brito</b></h3>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
						</p>
						<a>Responder</a>
					</div>
					<ul class="neve-comments-list" >
						<li class="neve-comment" >
							<div class="comment-user" >
								<span class="fa-stack fa-lg">
								  <i class="fa fa-square-o fa-stack-2x"></i>
								  <i class="fa fa-user fa-stack-1x"></i>
								</span>
							</div>
							<div class="comment-body" >
								<h3 class="neve-h" ><b>Pedro</b></h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet.
								</p>
								<a>Responder</a>
							</div>
						</li>
					</ul>
				</li>
			</ul>
		</section>
		<footer id="neve-suggestion" >
				<div>
					<div id="suggestion-left" >
						<h2 class="neve-h" ><b>Post Anterior</b></h2>
						<p>Ideias para decorar sendo sustentável</p>
					</div>
					<div id="suggestion-right" >
						<h2 class="neve-h" ><b>Próximo Post</b></h2>
						<p>Formas criativas de reutilizar rolos de papel</p>
					</div>
				</div>
		</footer>
	</article>


	<section id="neve-articles" >
		<h3 class="neve-h" ><b>Relacionados</b></h3>
		<div class="items-list-section">
			<ul>
				<li>
					<img src="images/home/bathroom.png" />
					<button class="neve-desktop" >ler mais</button>
					<p class="font-m" >
						<b>Ideias para decorar sendo sustentável</b><br>
					</p>
				</li>
				<li>
					<img src="images/home/paper-roll.png" />
					<button class="neve-desktop" >ler mais</button>
					<p class="font-m" >
						<b>Formas criativas de reutilizar rolos de papel</b><br>
					</p>
				</li>
				<li>
					<img src="images/home/boxes.png" />
					<button class="neve-desktop" >ler mais</button>
					<p class="font-m" >
						<b>Como fazer móveis de caixote de feira</b><br>
					</p>
				</li>
			</ul>
		</div>
		<div class="clear" ></div>
	</section>

	

</div>


@@include('../partials/_footer.html')