@@include('../partials/_head.html')

<div id="neve-page-produtos" >

	<header id="neve-produtos-header" >
		<div>
			<h1 class="neve-h" ><b>Produtos</b></h1>
			<p class="font-m" >A Neve tem um alto nível de exigência para entregar os melhores produtos de higiene íntima para você, consumidora!</p>
		</div>
	</header>

	<section>
		<ul id="neve-produtos-list" >
			<li>
				<div class="neve-illustration" >
					<img src="images/produtos/neve-supreme.png" />
				</div>
				<div class="neve-details" >
					<h2 class="neve-h" ><b>Supreme</b></h2>
					<h3 class="neve-h"><b>para resistência com folha tripla</b></h3>
					<p>Com um poder absorção maior é perfeito para a higiene íntima</p>
					<div class="neve-embalagens" >
						4  |  8  |  12  |  24  |  32
					</div>
					<button>+ detalhes</button>
				</div>
				<div class="clear" ></div>
			</li>
			<li>
				<div class="neve-illustration" >
					<img src="images/produtos/neve.png" />
				</div>
				<div class="neve-details" >
					<h2 class="neve-h" ><b>Toque de Seda</b></h2>
					<h3 class="neve-h"><b>para maciez perfeita</b></h3>
					<p>Maciez e conforto em um papel com folhas duplas</p>
					<div class="neve-embalagens" >
						4  |  8  |  12  |  24  |  32
					</div>
					<button>+ detalhes</button>
				</div>
				<div class="clear" ></div>
			</li>
			<li>
				<div class="neve-illustration" >
					<img src="images/produtos/neve-neutra-care.png" />
				</div>
				<div class="neve-details" >
					<h2 class="neve-h" ><b>Neutral Care</b></h2>
					<h3 class="neve-h"><b>para ficar sem cheiro no cestinho</b></h3>
					<p>Perfeito para suavizar o cheiro do cestinho do seu banheiro</p>
					<div class="neve-embalagens" >
						4  |  8  |  12  |  24  |  32
					</div>
					<button>+ detalhes</button>
				</div>
				<div class="clear" ></div>
			</li>
			<li>
				<div class="neve-illustration" >
					<img src="images/produtos/neve-tissue.png" />
				</div>
				<div class="neve-details" >
					<h2 class="neve-h" ><b>Lenços Umedecidos</b></h2>
					<h3 class="neve-h"><b>para limpeza íntima completa</b></h3>
					<p>Junto com o papel higiênico auxilia na higiene íntima da mulher.</p>
					<button>+ detalhes</button>
				</div>
				<div class="clear" ></div>
			</li>
		</ul>
	</section>

</div>


@@include('../partials/_footer.html')