@@include('../partials/_head.html')

<div id="neve-page-toquecuidado" >
	<header>
		<h1 class="neve-h" ><b>Toque de Cuidado</b></h1>
	</header>


	<nav id="neve-articles-filter" >
		<div class="neve-mobile" ><h3 class="neve-h" ><b>Assuntos <i class="fa fa-chevron-down" ></i></b></h3></div>
		<ul class="font-l" >
			<li class="active" >
				<div class="neve-icon-container" ><i class="fa fa-home" ></i></div>
				<div class="neve-text-container" ><span><b>Página Inicial</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-paint-brush" ></i></div>
				<div class="neve-text-container" ><span><b>Decoração e Criatividade</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-recycle" ></i></div>
				<div class="neve-text-container" ><span><b>Sustentabilidade</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-scissors" ></i></div>
				<div class="neve-text-container" ><span><b>Passo-a-Passo</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-heart" ></i></div>
				<div class="neve-text-container" ><span><b>Qualidade de Vida</b></span></div>
			</li>
			<li>
				<div class="neve-icon-container" ><i class="fa fa-user-md" ></i></div>
				<div class="neve-text-container" ><span><b>Saúde</b></span></div>
			</li>
		</ul>
	</nav>

	<section id="neve-featured" >
		<div>
			<span class="font-s" >Sustentabilidade</span>
			<h1 class="neve-h" >FORMAS CRIATIVAS DE REUTILIZAR ROLOS DE PAPEL</h1>
			<button>leia mais</button>
		</div>
	</section>


	<section id="neve-articles" >
		<div class="items-list-section">
			<ul>
				<li>
					<img src="images/home/bathroom.png" />
					<button>ler mais</button>
					<p class="font-m cut-text" >
						<b>Ideias para decorar sendo sustentável</b><br>
						<span class="font-s" >Decoração e Criatividade</span>
					</p>
				</li>
				<li>
					<img src="images/home/paper-roll.png" />
					<button>ler mais</button>
					<p class="font-m cut-text" >
						<b>Formas criativas de reutilizar rolos de papel</b><br>
						<span class="font-s" >Sustentabilidade</span>
					</p>
				</li>
				<li>
					<img src="images/home/boxes.png" />
					<button>ler mais</button>
					<p class="font-m cut-text" >
						<b>Como fazer móveis de caixote de feira</b><br>
						<span class="font-s" >Passo-a-Passo</span>
					</p>
				</li>
				<button>mais ></button>
			</ul>
		</div>
		<div class="clear" ></div>
	</section>

	

</div>


@@include('../partials/_footer.html')