@import 'media-queries';


#neve-page-busca{

	& > header{
		border: 1px solid black;
		height: 130px;
	}

	#neve-busca-resultado{
		padding-top: 20px;
		input[type=search]{
			height: 40px;
			border-radius: 5px;
			width: 100%;
		}
		& > button, input[type=submit]{
			height: 40px;
		}
		& > button{
			display: block;
			width: 70px;
		}
		input[type=submit]{
			width: 90px;
		}
	}

	form > div, #space-from-search{
		display: inline-block;
		width: 100%;
		margin-right: -140px;
		padding-right: 140px;
	}

	.neve-busca-result-list{
		padding: 0;
		margin-top: 20px;
		li{
			padding: 0 0 10px 0;
			display: block;
			color: blue;
			.image-container{
				display: inline-block;
				width: 115px;
				img{
					max-width: 100px;
					max-height: 100px;
				}
			}
			.description-container{
				display: inline-block;
				width: 100%;
				h1{
					margin: 0;
				}
			}
		}
	}

	@include desktop-only {
		& > header, #neve-busca-resultado{
			padding-left: 50px;
			padding-right: 50px;
		}

		& > header{
			padding-top: 50px;
		}

		#neve-busca-resultado > button{
			display: inline-block;
			margin-left: 14px;
		}

		form > div, #space-from-search{
			max-width: 740px;
		}

		input[type=submit]{
			margin-left: 10px;
		}

		.neve-busca-result-list{
			max-width: 600px;
			li{
				.image-container{
					vertical-align: top;
				}
				.image-container + .description-container{
					padding-left: 120px;
					margin-left: -120px;
				}
			}
		}
	}

	@include mobile-only {
		& > header, #neve-busca-resultado{
			padding-left: 10px;
			padding-right: 10px;
		}

		& > header{
			padding-top: 40px;
		}

		form > div{
			padding-right: 87px;
    		margin-right: -95px;
		}

		#neve-busca-resultado > button{
			margin: 20px auto;
		}

		.neve-busca-result-list{
			li{
				.image-container{
					float: right;
					text-align: right;
				}
				.image-container + .description-container{
					padding-right: 120px;
					margin-right: -120px;
				}
			}
		}
	}

}