@import 'media-queries';
@include desktop-only {

.neve-mobile{
    display: none;
}


#neve-header{
	height: 55px;

	#logo{
    	width: 110px;
    	height: 55px;
    	margin-left: 35px;
    }

    #neve-menu{
        box-sizing: border-box;
        width: 100%;
        padding-left: 205px;
        margin-left: -160px;
        padding-right: 95px;
        margin-right: -90px;
        text-align: center;
        .neve-menu-hover:hover > .dropdown-menu{
            display: block;
        }
        & > li{
            width: 21%;
            &.child_3{
                width: 37%;
            }
        }
    }

    #neve-search{
    	margin-right: 35px;
    	.fa-stack{
    		top: 5px;
    		cursor: pointer;
    	}
    	.fa-search{
    		font-size: 25px;
    		top: 50%;
    		margin-top: -14px;
    	}
    	.fa-square{
    		font-size: 45px;
    	}
        #neve-searchField{
            position: absolute;
            right: 0;
            background-color: #ccc;
            width: 340px;
            height: 45px;
            top: 55px;
            display: none;
            &.active{
                display: block;
            }
            input{
                margin: 7px auto;
                display: block;
                height: 30px;
                width: 320px;
            }
        }
    }
}


#neve-content{
    padding-top: 55px;
    padding-bottom: 45px;
}


#neve-footer{
    height: 45px;
    padding-left: 50px;
    padding-right: 50px;
    ul{
        display: inline-block;
        &#neve-sections{
            float: left;
            li{
                font-size: 16px;
                padding: 10px 10px;
            }
        }
        &#neve-social{
            position: absolute;
            right: 170px;
            margin-top: 5px;
        }
    }
    #logo{
        width: 80px;
        height: 45px;
        position: absolute;
        right: 50px;
        display: inline-block;
    }
}










}	