@import 'media-queries';


#neve-vamos-combinar{
	#combinar-top{
		background-image: url('../images/home/women.png');
	    height: 400px;
	    background-repeat: no-repeat;
	    background-position: 75% 50%;
	    background-size: cover;

	    @include desktop-only {
	    	#div_1{
	    		margin-top: 295px;
	    	}
	    	#div_2{
	    		margin-top: 265px;	
	    	}
	    	img{
	    		float: right;
	    	}
	    }

    	
	    @include mobile-only {
	    	#div_1{
	    		margin-top: 215px;
	    	}
	    	#div_2{
	    		text-align: center;	
	    	}
		    img{
	    		height: 70px;
	    	}
	    }
	}
}

#neve-produtos{
	@include desktop-only {
		#div_1, #div_2, #div_3{
			padding-left: 10px;
			width: 50%;
		}
		#div_1, #div_3{
			float: right;
		}
    	#div_1{
    		margin-bottom: 10px;
    	}
		#div_2{
    		float: left;
    		text-align: center;
    		img{
    			height: 385px;
    		}
    	}
    	#div_3{
    		.neve-simple-video-container{
    			display: inline-block;
    			float: left;
    		}
    		img{
    			width: 100%;
    			margin-bottom: 20px;
    		}
    		p{
    			text-align: center;
    		}
    	}

    	#products-list > h3{
    		margin-top: 50px;
    	}

    	.products-list-item{
    		margin-bottom: 50px;
    		position: relative;
    		h3{
    			display: inline-block;
    			min-width: 180px;
    		}
    		& > img{
    			float: right;
    			width: 50%;
    			margin-right: -7px;
    		}
    		.item-characteristc{
    			margin-top: 40px;
    		}
    		.item-details{
    			position: absolute;
    			bottom: 0;
    			img{
    				width: 115px;
    			}
    			button{
    				display: block;
    				margin: 10px auto 0 auto;
    				width: 110px;
    				heignt: 30px;
    			}
    		}
    	}

    }

	
    @include mobile-only {
    	#div_1, #div_2, #div_3{
			width: 100%;
		}
		#div_2, #div_3{
			text-align: center;
		}
    	#div_1{
    		margin-bottom: 10px;
    	}
		#div_2{
    		img{
    			height: 265px;
    		}
    	}
    	#div_3{
    		img{
    			height: 165px;
    			margin-bottom: 10px;
    		}
    	}


    	#products-list{
    		text-align: center;
    		& > h3{
    			margin-top: 30px;
    			margin-bottom: 20px;
    		}
    	}

    	.products-list-item{
    		margin-bottom: 20px;
    		h3{
    			display: inline-block;
    		}
    		& > img{
    			width: 100%;
    			padding: 0 30px;
    		}
    		.item-characteristc{
    			margin-bottom: 40px;
    		}
    		.item-details{
    			padding: 0 40px;
    			h3{
    				text-align: left;
    			}
    			img{
    				width: 45px;
    			}
    			button{
    				display: block;
    				margin: 10px auto 0 auto;
    				width: 110px;
    				heignt: 30px;
    			}
    		}
    	}
    }
}	


#neve-toques-cuidado{

    #div_1{
        background-color: #ccc;
        padding: 20px 50px;
        margin-bottom: 20px;
    }

    .items-list-section{
            h3 i{
                font-size: 33px;
                margin-right: 20px;
                vertical-align: middle;
            }
            ul{
                margin: 30px 0;
                padding: 0;
            }
    }

    @include desktop-only {
        .items-list-section{
            ul li{
                box-shadow: #999 2px 2px 5px;
                width: 30%;
                img{
                    width: 100%
                }
                p{
                    background-color: #cecece;
                    padding: 10px;
                    margin: 0;
                }
            }
        }
    }

    @include mobile-only {
        #div_2{
            padding: 0 10px 0 0;
        }
        .items-list-section{
            h3{
                padding-left: 15px;
            }
            ul li{
                width: 100%;
                position: relative;
                img{
                    width: 40%
                }
                p{
                    padding:  0 0 0 10px;
                    margin: 0;
                    width: 60%;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
            }
        }
    }

}   