@import 'media-queries';

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}


/******************************
            UTILS
******************************/

.equidistant{
    text-align: justify;
    font-size: 0.1px;
    &:after{
        content: "";
        width: 100%;
        display: inline-block;
    }
    .equidistant-item{
        display: inline-block;
        text-align: left;
    }
}

/***************/
    HEADERS
/***************/
h1.neve-h,h2.neve-h,h3.neve-h{
    margin: 0 0 10px 0;
}

.font-xs{
    font-size: 10px;
}
.font-s{
    font-size: 12px;
}
.font-m{
    font-size: 14px;
}
.font-l{
    font-size: 16px;
}

/******************************
            PARTS
******************************/

#neve-toTop{
    position: fixed;
    padding: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    height: 35px;
    width: 35px;
    z-index: 85;
    i{
        font-size: 30px;
        position: relative;
        bottom: 10px;
    }
    span{
        font-size: 10px;
        position: relative;
        bottom: 20px;
    }
}

#neve-body{
	max-width: 960px;
	min-height: 100%;
    position: relative;
    padding: 0;
    width: 100%;
}

#neve-header{
	max-width: 960px;
    width: 100%;
    min-height: 40px;
    margin: 0 auto;
    z-index: 100;

    .navbar-toggle{
    	&.collapsed{
    		.fa-remove{
    			opacity: 0;
				transition: opacity 0.2s;
    		}
    	}
    	&:not(.collapsed){
    		.fa-bars{
    			opacity: 0;
				transition: opacity 0.2s;
    		}
    	}
    }
}

#neve-content{
	min-height: 200px;
    z-index: 50;
}

#neve-back{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 90;
    background-color: #ccc;
    display:none;
    opacity:.70;
    filter: alpha(opacity=70);
    &.active{
        display: block;
    }
}

#neve-footer{
	width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #cdcdcd;
    z-index: 80;
    ul{
        padding: 0;
    }
    li{
        display: inline-block;
    }   
}


.neve-next-section{
    margin: 0 auto 10px auto;
    width: 40px;
    display: block;
    text-align: center;
    font-size: 30px;
    cursor: pointer;
}