@import 'media-queries';


#neve-page-toquecuidado{
	header{
		height: 100px;
		background-color: #ddd; 
		padding: 30px 0 0 50px;
		h1{
			margin: 0;
		}
	}

	#neve-featured{
		height: 300px;
		background-color: #aaa;
		padding: 0 50px 0 50px;
		position: relative;
		div{
			position: absolute;
			bottom: 20px;
			h1{
				margin: 10px 0 20px 0;
			}
		}
	}
	
	.items-list-section{
			position: relative;
			& > button{
				position: absolute;
				right: 0;
				bottom: 0;
			}
            h3 i{
                font-size: 33px;
                margin-right: 20px;
                vertical-align: middle;
            }
            ul{
                margin: 30px 0 0 50px;
                padding: 0 0 50px 0;
                width: 65%;
                position: relative;
                li{
                	display: inline-block;
                    position: relative;
                    box-shadow: #999 2px 2px 5px;
	                width: 280px;
	                margin-right: 20px;
	                margin-bottom: 20px;
                    button{
                        display: none;
                    }
	                img{
	                    width: 100%;
	                    transition: opacity 0.5s;
	                }
	                p{
	                    background-color: #cecece;
	                    padding: 10px;
	                    margin: 0;
	                }
                }
            }
    }


    #neve-articles-filter{
    	float: right;
    	background-color: #ccc;
    	position: relative;
    	z-index:55;
    	ul{
    		padding: 10px 0;
    		li{
    			display: block;
    			cursor: pointer;
    			&:hover{
    				background-color: #eee;
    			}
    			&.active{
    				background-color: #333;
    				color: #fff;
    			}
    			div{
    				display: inline-block;
    				&.neve-icon-container{
    					width: 30px; 
    					font-size: 30px;
    					text-align: center;
    					vertical-align: middle;
    				}
    				&.neve-text-container{
    					padding-left: 10px;
    					max-width: 150px;
    					vertical-align: middle;
    				}
    			}
    		}
    	}
    }


    #neve-suggestion{
    	display: table;
		& > div{
			display: table-row;
			height: 70px;
			div{
				display: table-cell;
			    position: relative;
			    top: 50%;
			    width: 50%;
			    background-color: #ccc;
			    border: 1px solid blue;
			    padding-top: 10px;
			}
		}
		#suggestion-right{
			text-align: right;
			padding-right : 50px;
		}
		#suggestion-left{
			padding-left : 50px;
		}
	}


	@include desktop-only {
		#neve-articles-filter{
			margin-right: 30px;
			top: 300px;
			ul{
				width: 220px;
				li{
					padding-left: 20px;
				}
			}
		}

		.items-list-section{

			ul li{ 
				&:hover{
                    cursor: pointer;
                    img{
                        border: 1px solid blue;
                        opacity: 0.7;
                    }
                    button{
                        display: block;
                        position: absolute;
                        margin: 35% 12%;
                        height: 40px;
                        width: 135px;
                        border-radius: 20px;
                    }
                }
				button{
	            	position: absolute;
	            	bottom: 20px;
	            	right: 40px;
            	}
            }
		}
	}

	@include mobile-only {
		#neve-featured{
			padding: 15px;
			& > div{
				padding-right: 15px;
				button{
					margin: 0 auto;
				    display: block;
				    width: 80px;
				}
			}
		}


		#neve-articles-filter{
			float: none;
		    position: relative;
		    width: 100%;
			ul{
				margin: 0;
				display: none;
				width: 100%;
				&.neve-expanded{
					display: block;
				}
				li{
					padding: 0 15px;
				}
			}
			& > div{
			    height: 35px;
			    text-align: center;
			    padding-top: 10px;
			    cursor: pointer;
			}
		}

		.items-list-section{
			ul{
				padding: 10px 0;
			    margin: 0;
			    width: 100%;
			    li{
			    	margin: 0 auto 10px auto;
				    max-width: 320px;
				    width: 100%;
				    display: block;
			    }
			    & > button{
			    	width: 80px;
				    display: block;
				    margin: 10px auto;
			    }
			}
		}
	}

	&.neve-post{

		#neve-social-top{
			margin: 10px 0;
			.neve-social-counter{
				border: 1px solid blue;
				height: 25px;
				min-width: 90px;
				margin: 0 10px;
				text-align: center;
				display: inline-block;
				& > div{
					display: inline-block;
					vertical-align: middle;
				}
				.social-icon-container{
					height: 100%;
					color: #fff;
					background-color: blue;
					width: 35px;
				    font-size: 20px;
				}
				.social-counter-container{
					color: blue;
					width: 100%;
					margin-left: -39px;
					padding-left: 39px;
				}
			}
		}

		#neve-social-bottom{
			font-size: 25px;
			margin: 20px 0;
		}

		#neve-comments{
			background-color: #ddd;
			padding: 10px 20px 10px 50px;
			.neve-comments-list,  #neve-new-comment{
				padding: 0 0 0 20px;
			}
			#neve-new-comment{
				textarea{
					width: 100%;
				    resize: vertical;
				    min-height: 50px;
				    padding: 10px 0px 0px 20px;
				    border-radius: 5px;
				    margin-top: 0px;
				    margin-bottom: 0px;
				    height: 50px;
				}
			}
			.neve-comment, #neve-new-comment{
				display: block;
				.comment-user{
					display: inline-block;
					width: 45px;
					height: 45px;
				}
				.comment-body{
				    display: inline-block;
				    width: 100%;
				    padding-left: 50px;
				    margin-left: -50px;
				    vertical-align: top;
				    margin-bottom: 10px;
				}
			}
		}

		#neve-articles{
			& > h3{
				padding-top: 20px;
			}
		}


		@include desktop-only {
			#neve-featured{
				height: 210px;
				p{
					display: inline-block;
				}
				span{
					float: right;
				}
			}

			#neve-social-top{
				text-align: right;
			}

			#neve-post{
				padding-left: 50px;
			}

			#neve-social-bottom{
				padding-left: 50px;
			}

			#neve-articles-filter{
				top: 210px;
			}

			#neve-article{
				padding-right: 290px;
			}

			#neve-articles{
				padding-right: 285px;
			}

			.items-list-section{
				ul{
					padding: 0 0 0 50px;
				    margin: 0;
				    width: 100%;
				    li{
					    max-width: 200px;
					    margin-right: 5px;
					    button{
					    	margin: 0;
					    	bottom: 98px;
					    	right: 32px;
					    }
				    }
				}
			}

			#neve-comments{
				.neve-comments-list .neve-comments-list{
					padding: 0 0 0 45px;
				}
			}

			#neve-suggestion{
				cursor: pointer;
				#suggestion-right{
					padding-left : 10px;
				}
				#suggestion-left{
					padding-right : 10px;
				}
			}

			#neve-articles{
				& > h3{
					padding-left: 50px;
				}
			}

		}

		@include mobile-only{

			#neve-social-top{
				text-align: center;
			}

			#neve-post{
				padding: 0 10px;
			}

			#neve-social-bottom{
				text-align: center;
			}

			#neve-comments{
				padding: 0 10px;
			}

			#neve-suggestion{
				width: 100%;
				#suggestion-right{
					padding-right : 10px;
				}
				#suggestion-left{
					padding-left : 10px;
				}
			}

			#neve-articles{
				& > h3{
					padding-left: 10px;
				}
			}

			.items-list-section{
	            ul li{
	                width: 100%;
	                position: relative;
	                box-shadow: none;
	                margin: 0;
	                max-width: 100%;
	                img{
	                    width: 40%
	                }
	                p{
	                    padding:  0 0 0 10px;
	                    margin: 0;
	                    width: 60%;
	                    position: absolute;
	                    right: 0;
	                    top: 50%;
	                    transform: translateY(-50%);
	                	background-color: transparent;
	                }
	            }
	        }
		}
	}

	
}