</div>

<div id="neve-back" ></div>

<footer id="neve-footer" >
	<ul id="neve-sections" >
		<li>A Marca</li>
		<li>Produtos</li>
		<li>Contato</li>
	</ul>
	<ul id="neve-social" >
		<li>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			  <i class="fa fa-facebook fa-stack-1x"></i>
			</span>
		</li>
		<li>
			<span class="fa-stack fa-lg">
			  <i class="fa fa-circle-o fa-stack-2x"></i>
			  <i class="fa fa-twitter fa-stack-1x"></i>
			</span>
		</li>
	</ul>
	<img src="images/logo.png" id="logo" />
</footer>

</div>
<script src="//code.jquery.com/jquery-1.11.3.min.js" ></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/jquery.bootstrap-autohidingnavbar.min.js" ></script>
<script src="js/css3-mediaqueries.js" ></script>

<script src="js/script.js" ></script>

</body>
</html>