<!doctype html>
<html lang="en">
<head>
	<title>NEVE® - Kimberly Clark</title>

	<meta charset="utf-8">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="viewport" id="viewport" content="width=640, initial-scale=3; maximum-scale=3; user-scalable=0;">

	<meta name="description" itemprop="description" content="Neve® nasceu em 1973 como o primeiro papel higiênico de folha dupla, se tornando líder no mercado. Hoje é referência por sua maciez inconfundível.">

	<meta name="keywords" itemprop="keywords" content="neve, kimberly clark, marca neve, supreme, neutra care, papel higienico, higiênico, papel, toilet paper">

	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->

	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/unsemantic/0/unsemantic-grid-responsive.css">
	<!--link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"-->
	<link rel="stylesheet" href="css/style.css">
	<link rel="stylesheet" href="css/mobile.css">
	<link rel="stylesheet" href="css/desktop.css">


</head>
<body>

<div class="container" id="neve-body">
@@include('_header.html')

<div id="neve-content" >