<!-- Static navbar --> 
<nav id="neve-header" class="navbar navbar-default navbar-fixed-top">
<div class="container-fluid">
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
      <i class="fa fa-bars"></i>
      <i class="fa fa-remove"></i>
    </button>
    <a href="#">
		  <img src="images/logo.png" id="logo" />
    </a>
  </div>
  <div id="navbar" class="navbar-collapse collapse">
    <ul class="nav navbar-nav" id="neve-menu">
      <li class="dropdown active" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">A Marca<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="./marca/manifesto.html">Manifesto</a></li>
          <li><a href="./marca/campanhas.html">Campanhas</a></li>
          <li><a href="./marca/acontecimentos.html">Acontecimentos</a></li>
        </ul>
      </li>
      <li class="dropdown neve-menu-hover" >
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Produtos<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a href="./marca/manifesto.html">Manifesto</a></li>
          <li><a href="./marca/campanhas.html">Campanhas</a></li>
          <li><a href="./marca/acontecimentos.html">Acontecimentos</a></li>
        </ul>
      </li>
      <li class="child_3" ><a href="./toquecuidado.html">Toque de Cuidado</a></li>
      <li><a href="./contato.html">Contato</a></li>
    </ul>
    <div id="neve-search" class="nav navbar-nav navbar-right">
      <span class="fa-stack fa-lg">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-search fa-stack-1x fa-inverse"></i>
      </span>
      <div id="neve-searchField" >
        <input type="search" />
      <div>
    </div>
    </div>
    </div>
  </div><!--/.nav-collapse -->
</div><!--/.container-fluid -->
</nav>