/* line 3, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 555px; }
  @media (max-width: 768px) {
    /* line 3, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
    html, body {
      min-height: 320px; } }

/******************************
            UTILS
******************************/
/* line 21, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
.equidistant {
  text-align: justify;
  font-size: 0.1px; }
  /* line 24, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
  .equidistant:after {
    content: "";
    width: 100%;
    display: inline-block; }
  /* line 29, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
  .equidistant .equidistant-item {
    display: inline-block;
    text-align: left; }
  /* line 33, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
  .equidistant * {
    font-size: 14px; }

/* line 38, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
.absolute-middle {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  /* line 47, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
  .absolute-middle .middle-container {
    display: table-cell;
    vertical-align: middle; }

/* line 53, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

@font-face {
  font-family: primary-font;
  src: url(../font/SinkinSans-400Regular.otf); }

/* line 65, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
.neve-font {
  font-family: primary-font; }

/******************************
            HEADER
******************************/
/* line 73, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
.logo-container {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 150;
  height: 40%;
  width: 15%;
  background-image: url("../images/banheiro_logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%; }
  @media (max-width: 768px) {
    /* line 73, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
    .logo-container {
      width: 40%;
      height: 40%;
      left: 10px; } }

/* line 92, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
#top-header {
  z-index: 100;
  height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #040404;
  background-color: rgba(4, 4, 4, 0.9); }
  @media only screen and (min-width: 768px) {
    /* line 102, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
    #top-header .social-container {
      font-size: 14px; }
    /* line 105, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
    #top-header a {
      margin-left: 15px; } }
  @media (max-width: 768px) {
    /* line 92, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
    #top-header {
      height: 50px; }
      /* line 111, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
      #top-header .social-container {
        font-size: 25px; }
      /* line 114, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
      #top-header a {
        margin-left: 35px; } }
  /* line 118, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
  #top-header .social-container {
    text-align: right;
    padding-right: 20px;
    padding-top: 8px; }
    /* line 122, c:/Users/Felipe/Desktop/NEVE/banheiros/dev/css/style.scss */
    #top-header .social-container .fa {
      color: #b99742;
      cursor: pointer; }

/* line 5, stdin */
#home-section {
  position: relative;
  height: 100%;
  background-image: url("../images/home/rua.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  /* line 13, stdin */
  #home-section #novidade-breve #text-content {
    height: 118px;
    width: 100%;
    vertical-align: middle;
    margin-top: 60px;
    padding-left: 90px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.3); }
    @media (max-width: 940px) {
      /* line 13, stdin */
      #home-section #novidade-breve #text-content {
        padding: 1px 10px; } }
    @media (max-width: 768px) {
      /* line 13, stdin */
      #home-section #novidade-breve #text-content {
        height: 108px;
        margin-top: 80px; }
        /* line 27, stdin */
        #home-section #novidade-breve #text-content h1 {
          font-size: 20px; }
        /* line 30, stdin */
        #home-section #novidade-breve #text-content p {
          font-size: 15px; } }
  /* line 35, stdin */
  #home-section #novidade-breve h1 {
    color: #b99742;
    font-size: 23.82px; }
  /* line 39, stdin */
  #home-section #novidade-breve p {
    color: #fff;
    font-size: 16.78px;
    line-height: 1.5;
    margin-top: -8px; }
  /* line 46, stdin */
  #home-section #model-container {
    background-image: url("../images/home/modelo_1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 100%;
    width: 55%;
    position: absolute;
    bottom: 0;
    right: 0; }
  /* line 57, stdin */
  #home-section #neve-play {
    text-align: center;
    padding-top: 60px; }
    @media (max-width: 768px) {
      /* line 57, stdin */
      #home-section #neve-play {
        padding-top: 85px; } }
    @media (max-width: 680px) {
      /* line 57, stdin */
      #home-section #neve-play {
        font-size: 0.6em; } }
    @media (max-width: 630px) {
      /* line 57, stdin */
      #home-section #neve-play {
        padding-top: 280px;
        text-align: left;
        padding-left: 50px; } }
    @media (max-width: 630px) and (max-height: 370px) {
      /* line 57, stdin */
      #home-section #neve-play {
        padding-top: 230px; } }
    /* line 74, stdin */
    #home-section #neve-play span {
      font-size: 5.5em;
      cursor: pointer;
      z-index: 150; }
    /* line 79, stdin */
    #home-section #neve-play .fa-circle {
      color: rgba(255, 255, 255, 0.2); }
    /* line 82, stdin */
    #home-section #neve-play .fa-play-circle-o {
      color: white; }
  /* line 86, stdin */
  #home-section #circle-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    /* line 92, stdin */
    #home-section #circle-shadow img {
      width: 100%;
      height: 100%; }
