/* line 3, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 555px; }
  @media (max-width: 768px) {
    /* line 3, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
    html, body {
      min-height: 320px; } }

/* line 13, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
* {
  text-decoration: none; }

/******************************
            UTILS
******************************/
/* line 24, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
.equidistant {
  text-align: justify;
  font-size: 0.1px; }
  /* line 27, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
  .equidistant:after {
    content: "";
    width: 100%;
    display: inline-block; }
  /* line 32, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
  .equidistant .equidistant-item {
    display: inline-block;
    text-align: left; }
  /* line 36, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
  .equidistant * {
    font-size: 14px; }

/* line 41, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
.absolute-middle {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  /* line 50, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
  .absolute-middle .middle-container {
    display: table-cell;
    vertical-align: middle; }

/* line 56, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

@font-face {
  font-family: primary-font;
  src: url(../font/SinkinSans-300Light.otf); }

/* line 68, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
.neve-font {
  font-family: primary-font; }

/******************************
            HEADER
******************************/
/* line 76, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
.logo-container {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 214748348;
  height: 40%;
  width: 15%;
  background-image: url("../images/banheiros-espetaculares-neve-2015.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%; }
  /* line 88, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
  .logo-container img {
    display: none; }
  @media (max-width: 768px) {
    /* line 76, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
    .logo-container {
      width: 100%;
      height: 40%;
      background-position-x: center;
      left: 10px; } }

/* line 99, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
#top-header {
  z-index: 100;
  height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #040404;
  background-color: rgba(4, 4, 4, 0.9);
  height: 50px; }
  @media (max-width: 768px) {
    /* line 99, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
    #top-header {
      height: 50px; }
      /* line 111, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
      #top-header .social-container {
        font-size: 25px; }
      /* line 114, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
      #top-header a {
        margin-left: 35px; } }
  /* line 118, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
  #top-header .social-container {
    font-size: 25px;
    text-align: right;
    padding-right: 20px;
    padding-top: 8px; }
    /* line 120, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
    #top-header .social-container a {
      margin-left: 20px; }
    /* line 126, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
    #top-header .social-container .icon-facebook, #top-header .social-container .icon-twitter {
      color: #b99742;
      cursor: pointer; }

/* line 140, /home/ubuntu/workspace/banheiros/dev/css/style.scss */
*:focus {
  outline: none; }

/* line 5, stdin */
#home-section {
  position: relative;
  height: 100%;
  background-image: url("../images/home/rua-oscar-freire.png");
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover; }
  /* line 12, stdin */
  #home-section > img {
    display: none; }
  /* line 16, stdin */
  #home-section #novidade-breve #text-content {
    height: 118px;
    width: 100%;
    vertical-align: middle;
    margin-top: 60px;
    padding-left: 90px;
    padding-top: 5px;
    background-color: rgba(0, 0, 0, 0.3); }
    @media (max-width: 940px) {
      /* line 16, stdin */
      #home-section #novidade-breve #text-content {
        padding: 1px 10px; } }
    @media (max-width: 768px) {
      /* line 16, stdin */
      #home-section #novidade-breve #text-content {
        height: 108px;
        margin-top: 10px;
        text-align: center; }
        /* line 31, stdin */
        #home-section #novidade-breve #text-content #text-aligner {
          text-align: left;
          width: 310px;
          display: inline-block; }
        /* line 36, stdin */
        #home-section #novidade-breve #text-content h1 {
          font-size: 20px; }
        /* line 39, stdin */
        #home-section #novidade-breve #text-content p {
          font-size: 15px; } }
  /* line 44, stdin */
  #home-section #novidade-breve h1 {
    color: #b99742;
    font-size: 23.82px;
    margin-bottom: 10px;
    margin-top: 10px; }
  /* line 50, stdin */
  #home-section #novidade-breve p {
    color: #fff;
    font-size: 16.78px;
    line-height: 1.5;
    margin-top: -8px;
    padding-left: 1px; }
  /* line 58, stdin */
  #home-section #model-container {
    background-image: url("../images/home/ingrid-guimaraes-banheiros-espetaculares-neve.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 100% 100%;
    height: 100%;
    width: 55%;
    position: absolute;
    bottom: 0;
    right: 0; }
    /* line 68, stdin */
    #home-section #model-container img {
      display: none; }
    @media (max-width: 768px) {
      /* line 58, stdin */
      #home-section #model-container {
        background-position-x: 50%;
        width: 99%;
        height: 40%; } }
  /* line 77, stdin */
  #home-section #neve-play {
    text-align: center;
    padding-top: 85px;
    /*@media (max-width : 680px) {
			font-size: 0.6em;
	    }
	    @media (max-width : 630px){
		    padding-top: 30px;
		    text-align: right;
		    padding-right: 10px;
	    }
	    @media (max-width : 630px) and (max-height : 370px){
	    	font-size: 0.5em;
		    padding-top: 230px;
	    }*/ }
    @media (max-width: 768px) {
      /* line 77, stdin */
      #home-section #neve-play {
        /*padding-top: 95px;*/
        font-size: 0.5em;
        text-align: right;
        padding-right: 30px;
        text-align: center; }
        /* line 88, stdin */
        #home-section #neve-play a {
          margin-left: 200px; } }
    /* line 104, stdin */
    #home-section #neve-play span {
      font-size: 9.3em;
      cursor: pointer;
      z-index: 150;
      position: relative; }
    /* line 110, stdin */
    #home-section #neve-play .icon-radio-checked2 {
      color: transparent;
      color: rgba(255, 255, 255, 0.2);
      position: absolute;
      top: 0; }
    /* line 116, stdin */
    #home-section #neve-play .icon-play2 {
      color: white;
      color: white; }
  /* line 121, stdin */
  #home-section #circle-shadow {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0; }
    /* line 127, stdin */
    #home-section #circle-shadow img {
      width: 100%;
      height: 100%; }
