/* line 3, stdin */
.logo-container {
  background-image: none !important; }
  /* line 5, stdin */
  .logo-container img {
    display: block; }
  @media (max-width: 768px) {
    /* line 3, stdin */
    .logo-container {
      text-align: center; }
      /* line 10, stdin */
      .logo-container img {
        position: absolute;
        max-width: 100%;
        max-height: 100%;
        margin: 0 auto;
        height: auto;
        left: 0;
        right: 0; } }

/* line 23, stdin */
#home-section {
  background-image: none !important; }
  /* line 25, stdin */
  #home-section #street-fallback {
    position: fixed;
    height: 100%;
    width: 100%;
    display: block; }

@media (max-width: 768px) {
  /* line 35, stdin */
  #neve-play a {
    margin-left: 200px; } }

/* line 41, stdin */
#model-container {
  background-image: none !important; }
  /* line 43, stdin */
  #model-container #model-fallback {
    width: 100%;
    max-height: 100%;
    position: absolute;
    bottom: 0;
    right: 0;
    display: block !important; }
