html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 555px; }
  @media (max-width: 768px) {
    html, body {
      min-height: 320px;
      overflow-x: hidden; } }

* {
  text-decoration: none; }

/******************************
            UTILS
******************************/
.equidistant {
  text-align: justify;
  font-size: 0.1px; }
  .equidistant:after {
    content: "";
    width: 100%;
    display: inline-block; }
  .equidistant .equidistant-item {
    display: inline-block;
    text-align: left; }
  .equidistant * {
    font-size: 14px; }

.absolute-middle {
  display: table;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }
  .absolute-middle .middle-container {
    display: table-cell;
    vertical-align: middle; }

.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

@font-face {
  font-family: primary-font;
  src: url(../font/SinkinSans-300Light.otf); }

.neve-font {
  font-family: primary-font; }

/******************************
            HEADER
******************************/
.logo-container {
  position: absolute;
  top: 30px;
  left: 20px;
  /*z-index: 214748348;*/
  z-index: 300;
  height: 40%;
  width: 15%;
  background-image: url("../images/banheiros-espetaculares-2015-edicao-oscar-freire.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 0%;
  background-position-y: 0%; }
  .logo-container img {
    display: none; }
  @media (max-width: 768px) {
    .logo-container {
      width: 100%;
      height: 40%;
      background-position: 50% 0%;
      left: 0px; } }

#top-header {
  z-index: 100;
  height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #040404;
  background-color: rgba(4, 4, 4, 0.9);
  height: 50px; }
  @media (max-width: 768px) {
    #top-header {
      height: 50px; }
      #top-header .social-container {
        font-size: 25px; }
      #top-header a {
        margin-left: 35px; } }
  #top-header .social-container {
    font-size: 25px;
    text-align: right;
    padding-right: 20px;
    padding-top: 8px; }
    #top-header .social-container a {
      margin-left: 20px; }
    #top-header .social-container .icon-facebook, #top-header .social-container .icon-twitter {
      color: #b99742;
      cursor: pointer; }
    #top-header .social-container .icon-twitter {
      top: 3px;
      position: relative;
      font-size: 95%; }

*:focus {
  outline: none; }
