/* line 3, stdin */
html, body {
  margin: 0;
  padding: 0;
  height: 100%;
  min-height: 555px; }

/******************************
            UTILS
******************************/
/* line 16, stdin */
.equidistant {
  text-align: justify;
  font-size: 0.1px; }
  /* line 19, stdin */
  .equidistant:after {
    content: "";
    width: 100%;
    display: inline-block; }
  /* line 24, stdin */
  .equidistant .equidistant-item {
    display: inline-block;
    text-align: left; }
  /* line 28, stdin */
  .equidistant * {
    font-size: 14px; }

/* line 33, stdin */
.cut-text {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap; }

/******************************
            HEADER
******************************/
/* line 45, stdin */
.logo-container {
  position: absolute;
  top: 15px;
  left: 20px;
  z-index: 150; }

/* line 52, stdin */
#top-header {
  z-index: 100;
  height: 35px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(4, 4, 4, 0.5); }
  /* line 60, stdin */
  #top-header .social-container {
    text-align: right;
    padding-right: 20px; }
    /* line 63, stdin */
    #top-header .social-container a {
      margin-left: 15px; }
    /* line 66, stdin */
    #top-header .social-container .fa {
      color: #b99742;
      cursor: pointer; }
